/* Make h1 presentable for portals */
.serp-heading span {display:none;}
.serp-heading .serp-query {display:block;}
#youSearchedForHeader {display:none;}

.portal-header {padding-bottom:5px; border-bottom:1px solid #dddddd; overflow: hidden; margin-bottom:15px;}
.portal-header div.clear, .featuredProductsContainer div.clear, #fanDesignedContainer div.clear {display: none;}

img.portal-banner {width:100%;height:auto; padding-bottom:1.2em;}
.portal-header h2 {font-size: 18px; margin: 0; padding-bottom: 1em; color:#777; line-height: 1.2em;}

/* Tombstone Links or Featured Products*/
.featuredProductsContainer {margin:0; padding-bottom:2em; overflow: hidden;}
.featuredProducts {width:102%;}
.featuredProducts li {float:left; width:14.66%; font-size:12px; margin-right:2%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.featuredProducts li a {display:block; overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; padding-bottom:5px;}
.featuredProducts img {width: 100%; display:block; margin-bottom:5px; border:1px solid #dddddd; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.featuredProducts .prodImg {display:block; width:120px; height:120px; border:1px solid #dddddd; overflow:hidden; margin:0 auto 5px;} /*legacy support*/
.serp-link {padding:0 0 3px 0; font-size: 12px; color:#777777;}

/*Featured Designs*/
.featuredDesigns {overflow: hidden; width:102%;}
.featuredDesigns li {float:left; width:23%; margin:0 2% 1em 0; transition:all 0.8s; -webkit-transition:all 0.8s; -moz-transition:all 0.8s;}
.featuredDesigns li a img {display: block; width:100%;}
.featuredDesigns li a span {display: block; text-align: center; font-size: 14px;  padding:10px 0; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}

/*Fan Designed Section*/
#fanDesignedContainer {margin:0; padding-bottom:10px;}
#fanDesignedContainer h3 {float:left; font-size:16px; font-weight: normal;}
#fanDesignedContainer .design-your-own-button {
	display:block; 
	float:right; 
	background: #fff; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3'); background-image: -webkit-linear-gradient(top,#fff,#f3f3f3); background-image: -moz-linear-gradient(top,#fff,#f3f3f3); background-image: -ms-linear-gradient(top,#fff,#f3f3f3); background-image: -o-linear-gradient(top,#fff,#f3f3f3); background-image: linear-gradient(top,#fff,#f3f3f3);
	min-width:330px;
	line-height:23px;
	padding:0 5px;
	font-family:'roboto condensed',sans-serif;
	font-size:14px;
	text-align:center;
	border: 1px solid #dddddd;
	border-radius: 3px;
}
a.design-your-own-button:hover {text-decoration:underline;}

/* Mobile */
@media all and (max-width: 770px){
	.portal-header h2 {text-align: center;}
	.featuredProducts {text-align: center; width: 100%;}
    .featuredProducts li {width:33%; margin:0 0 12px 0; float:none; display: inline-block; padding:0 5px;}
    .featuredProducts .prodImg {width:140px;height:140px;}
    #fanDesignedContainer {text-align: center;}
    #fanDesignedContainer h3 {padding-bottom: 10px;}
    #fanDesignedContainer h3, #fanDesignedContainer .design-your-own-button {float:none; display: inline-block;}
}
@media all and (max-width: 570px) {
	.portal-header h2 {font-size: 16px;}
	.featuredDesigns li {width:48%;}
    .featuredProducts li {width: 49%;}
    .featuredProducts img {margin-bottom:10px;}
    .serp-link {padding:5px 0px 5px 0;}
    #fanDesignedContainer h3 {display:none;}
    #fanDesignedContainer .design-your-own-button {width:100%; padding:5px;}
}
