




body {background: #fff none; color:#444; *position:relative; text-align:left;}

#wrap {background:none !important; border:none; color:#444; padding:0; width:960px;}
#wrap #content {color:inherit; float:none; width:960px;}
::selection, ::-moz-selection {background-color:#6c2b44; color:#fff;}
img::selection, img::-moz-selection {background-color:transparent;}

/* Linkies */
a:link, a:visited,
#content a.tertiary, .tertiary {color: #606163;}
a:hover, a:focus, a:active {color: #6c2b44;}
a:focus {outline: 1px dotted #6c2b44;}

#content a:link, #content a:visited {color:#6c2b44;}
#content a:hover, #content a:focus, #content a:active,
#content a.tertiary:hover, #content a.tertiary:focus, #content a.tertiary:active {color:#b83769;}

#content a.secondary, .secondary {color:#444;}
#content a.secondary:hover, button.secondary:hover,
#content a.secondary:active, button.secondary:active {color:#606163;}

#content a.action {color:#fff;}

/* Customer Service */
.help-footer {font-size:11px; padding:0;}
.help-footer p, .help-footer p.shop {margin:0;}
.help-footer p.arrow-link {background:none; margin:0 0 15px; padding:0;}
.help-footer p.arrow-link a {font-size:12px; margin:0; font-weight:normal;}
.help-footer .phone {font-size:11px;}

/* Remove zappos inherited sprites */
#viewCart,
#viewCart b,
#livechat a,
#nav a,
h1.hc strong,
.action,
#naviCenter h4,
#searchResults,
#breadCrumbs,
#viewColors,
#conversionChartLink,
#notifyMePopupLink,
.product .flag span,
.teethBlueTop {background-image:none !important; text-indent:0;}

/* zappos.css rewrites */
#cltWrap {left:0;}
.addToCart span {display:none;}
.stripeOuter, .innerShadow, .stripeInner {border:none; background:none !important;}
.asyncError {color:#6c2b44;}
caption, .rnd {-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.zpopover div.info, .zpopover div.app {background:#fff; border:1px solid #e8e8e8; border:3px solid #444\9;
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.5); box-shadow: 0px 0px 15px rgba(0,0,0,0.5);}
.zpopover .popOverNotch, .zpopover .infoNotch {display:none;}
.zpopover div.app h3, .zpopover h3 {border:none; color:#444; font:normal 16px "Helvetica Neue", Helvetica, Arial, sans-serif;}
.zpopover div.app a.close, .zpopover a.close {color:#6c2b44; text-decoration:none;}
.zpopover div div {border:none;}
.teethWhiteTop, .teethWhiteBottom {display:none;}
.teethWhiteInner {border:none; padding:0;}
.stdForm .inputError {border:2px solid #6c2b44;}
.stdForm .fText {font-size: 10px;}
a.btn:visited {color:#606162;}
h2.dotted-line {background:none; color:#444; padding:0 0 0 10px;}

/* headings */
h1,h1.hc,.h1hc,
h2,h2.hc,
h3,
h4,h4.hc,.h4hc,
#nav, legend, caption, .subTitle, #popup h1.hc, #contentGroup ul li {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: lighter;}

h1,h2,h4 {background:none; text-transform:uppercase;}
h1,h2,h3 {font-weight:lighter;}

h1, h1.hc, .h1hc, #popup h1.hc {border:none; color:#444; font-size:21px; font-style: normal; line-height:27px; margin:0; padding:0;}
h1.hc strong {color:#444;}
h1.hc em {color: #40a2b8;}

h2 {border-left:1px solid #444; font-size:19px; line-height:21px; padding:0 0 0 10px;}
h2.hc, .hch2 {font-style:normal; color:#444;}
h1.hc #searchHeaderTermSpecial {color:#6C2B44;}
#searchHeaderTermSpecial .searchFor {color:#606163;}
#searchHeaderTermSpecial {display:inline-block; max-width:700px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}


h3, caption, .favorites h3.favMain {font-size:16px; line-height:20px; padding-left:10px;}
h3.hc {background: #fff none !important; color:#444; float:none; font-size:16px; left:0; margin:0; padding:0; text-shadow:none; text-transform:none;}
h3.hc span {display:none;}
h3.cih, caption.cih {background:none; color:#444; font-size:16px; font-weight:300; padding:0 0 0 10px; text-shadow:none; text-transform:none;}
h3.nosh {color: #444; font-size:11px; text-shadow:none; text-transform:uppercase; padding:10px 10px;}
h3.nosh span {display: none;}

h4 {font-size:11px; letter-spacing: 1px; line-height:14px;}
h4.hc, .h4hc {color:#444; font-weight:normal; letter-spacing:1px;}
h4.cih {color:#444;}

h5.hc {color:#444;}

/* Forms */
form ol, form ul {list-style:none;}
form li, .stdForm li {margin:0 0 15px;}

legend {font-size:16px; font-weight:normal;}
label {display:inline-block; *display:inline; font-size:10px; line-height:1.6em; padding-right:5px; text-transform:uppercase; zoom:1;}
textarea {font-size:12px;}

select {*border:2px inset #e8e8e8;}

form.standard-form li select {border:1px solid;}
form.standard-form li.radiobutton {margin:0 0 15px 220px;}

form.standard-form ol li {line-height:16px; padding:0;}
form.standard-form li input {border:2px inset #eee;}

.radiobutton {margin-left:225px;}
.radiobutton label {font-weight:normal; text-align:left; text-transform:none;}
.radiobutton input {vertical-align:text-bottom; width:auto;}

.fNote {color:#808080; font-size:9px; line-height:12px; margin:4px 0 0;}
.fText {font-weight:normal; text-transform:none;}

.stdForm label {text-align:left; font-weight:normal;}

#globalSearch input[type="search"] {padding:3px 0; -webkit-appearance: textfield;}

/* Buttons */
.btn {font-weight:bold; text-transform: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.action,
#productForm .action {
  background: #6c2b44 !important;
  background: -moz-linear-gradient(top, #b83769 0%, #6c2b44 100%) !important;
  background: -webkit-linear-gradient(top, #b83769 0%, #6c2b44 100%) !important;
  background: -o-linear-gradient(top, #b83769 0%,#6c2b44 100%) !important;
}

.action:hover,
#productForm .action:hover {
  background: #933b6d !important;
  background: -moz-linear-gradient(top, #933b6d 0%, #6c2b44 100%) !important;
  background: -webkit-linear-gradient(top, #933b6d 0%, #6c2b44 100%) !important;
  background: -o-linear-gradient(top, #933b6d 0%,#6c2b44 100%) !important;
}

.secondary {
  background: #e8e8e8 !important;
  background: -webkit-linear-gradient(top, #e8e8e8 0%, #ccc 100%) !important;
}
.secondary:hover, .secondary:active {color:#606162;}

.tertiary {background:none !important; border:none;}
.tertiary:hover {color:#444;}

/* liveChat.css */
body.liveChat {width:100%;}
.liveChat #atgChat {color:#444; padding:10px;}
.liveChat #atgChat h4 {font-size:16px;}

#searchTips {float:none; width:auto;}
#searchTips ul {margin-top:10px;}

h1.hc strong {width: auto;}
#searchResults {border:none;}

/* searchFacets.css */
#content h3.nosh {margin:0; background:none;}

#naviCenter {border-color:#e8e8e8; border-style: solid none; border-width:1px 0; margin:0;}
#naviCenter h4 {color:#444; font-family: Verdana, Arial, sans-serif;}
#naviCenter h4 span {background: transparent url(/prd/imgs/spGlobal.20150401154415.png) no-repeat right -495px !important;}
#naviCenter a:hover, #naviCenter a:active, #naviCenter .nwMulti a:hover, #naviCenter .nwMulti a:active {background-color: #e8e8e8; color: #933b6d;}

#breadCrumbs {border-color:#e8e8e8; border-width:0 0 1px 0; margin:13px 0 0;}
#breadCrumbs h4 {color:#444; font-size:12px; margin:0; text-shadow:none;}
#breadCrumbs .remove {color: #606163;}

.navCont h3 {border:none; padding:22px 7px 7px 10px;}

.navClosed + div {display:none;}

.searchPage .sort {background:none; border:none;}
.searchPage .sort.top {border-bottom:1px solid #e8e8e8; margin-top:15px;}
.searchPage .sort.bottom {border-top:1px solid #e8e8e8;}

.saveSearch {display:none;}

/* searchPagination.css */
.pagination .secondary {background:none !important; border:none;}

/* quickView.css */
#quickView .sku {color:#444;}
#quickView .close {color:#6c2b44;}

.right button {float:none;}

/* brand.css  */
#aboutBrand {clear:both; float:none; margin:30px 0; position:relative;}
#aboutBrand h2 {margin:0 0 15px;}
#aboutBrand img {margin:0 20px 20px 0;}

#brandCategories {margin:0 0 45px 0; width:100%;}
#brandCategories h1 {margin-bottom:30px;}
#brandCategories h3 {padding:10px 0 0;}
#brandCategories h5 {cursor:pointer; font-size:12px; padding:6px 0 7px;}
#brandCategories ul.levelOne {width:230px;}

#brandCategories .levelThree,
#brandCategories .levelTwo {margin-right:0; border-left-color:#e8e8e8;}
#brandCategories ul.levelTwo {width:205px;}
#brandCategories ul.levelThree {width: 180px;}

#brandCategories .more,
#brandCategories .less {border-color:#6c2b44; border-radius:0; color:#6c2b44;}
#brandCategories .more:hover,
#brandCategories .less:hover,
#brandCategories .less {background:#6c2b44; color:#fff;}

.brandPage img {float:right; margin-top:60px;}

/* errorPage.css */
#errorOptions {margin:40px 0;}

/* login.css */
#login {padding:0; border:none;}
#login legend, #login h3 {border:none; color:#444; font-family: "Helvetica Neue", Helvetica, Arial, serif; font-weight: lighter;}

#returnCustomer, #newCustomer {padding:30px 40px; width:390px;}
#returnCustomer {float:left;}
#returnCustomer label {float:none; font-weight:normal; padding:0; width:120px;}
#returnCustomer input {width:235px;}

#forgotPassword, #returnCustomer .btn {margin-left:125px;}

#newCustomer {float:right;}
#newCustomer a:link, #newCustomer a:visited {color:#fff;}

#noEmail {background:none; border:1px solid #444;}

#passwordCommand {padding-top:25px;}
#passwordCommand input {margin:10px 10px 10px 0; padding:0; width:235px;}

#needHelp {margin-bottom:15px;}
#needHelp ul {overflow:hidden;}
#needHelp li {width:320px;}

/* error.css */
.formError, #favoritesPopover .formError {border-color:#6c2b44; color:#444; margin:20px 0;}
.formError h3, #favoritesPopover .formError h3 {background-color:#6c2b44 !important; font: lighter 13px "Helvetica Neue", Helvetica, Arial, sans-serif; text-shadow:none; text-transform:uppercase;}
.formError h3.errorMsg {color:#fff;}
.formError span, #favoritesPopover .formError span {display:none;}

/* customer-service.css */
.contact-us h3.errorMsg {background-color:#6c2b44; margin-top:0;}
.contact-us h3 {background:none; color:inherit; line-height:inherit; margin-top:15px;}
.contact-us p, .contact-us .help-footer .arrow-link {margin:0 0 15px;}
.contact-us .help-footer p {margin:0;}

#bourbonCommand {border:none; padding:15px 0;}
#bourbonCommand .faq {width:462px;}
#bourbonCommand label {width:215px;}
#bourbonCommand .message {float:left; *width:0;}
#bourbonCommand input {width:240px;}
#bourbonCommand .radiobutton input {width:auto;}
#bourbonCommand textarea {border:1px solid; height:200px; padding-left:2px; width:465px;}

div.dotted-line {background:none; margin:0;}

/* register.css */
#customerRegistration {margin:15px 0;}
#customerRegistration fieldset {margin:15px 0 30px 11px; padding:15px 0;}
#customerRegistration label {width:215px;}
#customerRegistration input {width:240px;}
#customerRegistration .fNote {margin:4px 0 0 225px}
#customerRegistration .action {margin:15px 0;}

.register #accountInfo {padding:0;}
#accountInfo p {margin-bottom:15px;}
#accountInfo input {margin-right:300px;}
#accountInfo #pwTip {margin:0 280px 0 -280px;}

.passwordRequirements {background:#fff; border:none;}
#accountInfo .passwordRequirements p {margin:0;}
#passwordRequirements {margin-left:0;}

#emailSignup input {width:auto; *float:left;}
#emailSignup label {display:inline; *width:auto;}

#foundAboutZappos select, #foundAboutZappos textarea {width:464px;}

#registerThanks {margin-top:15px;}
#registerThanks h2 {margin-bottom:15px; padding:0 0 0 10px;}
#registerThanks h4,
#registerThanks h5 {padding:10px 0 00;}
#registerThanks p,
#registerThanks li {padding:0;}
#registerThanks p,
#registerThanks .help-footer .arrow-link {font-size:11px;}
#registerThanks .help-footer p {margin-bottom:0;}
#registerThanks ul {margin:10px 0 30px;}
#registerThanks .help-footer {font-size:11px;}
#registerThanks .secondary {margin:5px 0 15px;}

.stdForm li {list-style-type:none;}
.stdForm label {padding:0 9px 0 0;}


.cih em {font-style:italic; font-weight:lighter; text-transform:none;}

/* emailSignupForm.css */
#emailSignupForm {color:#444;}
#emailSignupForm input, #atgChat input, #atgChat textarea {border:2px inset #e8e8e8; font-family:Verdana, Arial, sans-serif; font-style:normal; margin:0 0 10px; padding:0; width:200px;
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
#emailSignupForm .asyncError {margin:0;}
#emailSignupForm .asyncError ul {padding:0;}

/* account.css */
#accountHeader {margin-bottom:30px;}
#accountHeader h1 {color:#444;}
#accountHeader h4 {font-size:11px; margin:0; text-transform:none;}
#accountHeader a {text-decoration:none;}

#primaryInfo li {border-right:1px solid #e8e8e8;}
#orderHistory {margin:15px 0; padding:0;}
#findOrder {background:none; padding:0 0 30px;}
#findOrder .stdForm label {font-weight:bold; text-transform:none;}
#orderTable th {background:none; color:#444;}
#badges {border-right:1px solid #e8e8e8;}
#additionalAccount .storeCredit {padding:15px 0;}
#points li span {font-weight:normal;}
#vipBadges .secondary {margin-left:20px;}

.returnInstructions {padding:15px 30px;}
.returnInstructions h5 {font:normal normal 10px Verdana, Arial, sans-serif; text-transform:uppercase;}

#editEmailAndPasswordCommand .fNote {padding-left:80px;}
.stdC {padding:15px 30px; border:none;}
.stdC h4.billingInfo {margin-left:0;}
.manage ul.infoHighlight p {font-size:10px; text-transform:none;}

.createOrEdit .tertiary {background:#e8e8e8 none !important;}

#viewSubscriptions {white-space:nowrap;}

/* customerInfo.css */
.subTitle {color:#444; font-size:15px; font-style:normal; letter-spacing:1px; text-transform:none;}
.infoHighlight {border:none; background:#f0f0f0;}

/* returns.css */
#orderHeader {padding-top:0;}
#command h1 {color:#444;}
.return {border-left:none;}
td.return {color:#444;}
tfoot .sum {border-left:none; color:#444;}
#entity {border:none; text-align:right;}
#returnSurvey fieldset {border:none; margin-top:0;}
#returnSurvey ol ol {margin:0 20px;}
#returnSurvey button {margin:0 0 0 20px;}
#returnsContent h2 {background-image:none; color:#444; font-size:19px; padding:0 0 0 10px; position:static; text-transform:none;}
#issueCredit {border-left:1px solid #444;}
#mailLabel, #faxLabel {margin:0;}
#faxLabel {width:500px;}
#mailLabel label {font-weight:normal; text-transform:uppercase;}
#mailLabel .stdForm .fNote {padding-left:205px;}
#returnQuestions h3.message {border:none; font-family:Verdana, Arial, sans-serif; margin-bottom:15px; padding:0; text-transform:uppercase;}
#returnQuestions textarea {border:1px solid #444;}
.message label {font-weight:normal;}
#returnLabelStatus a:link {color:#fff;}
#returnDirections h4, #emailConfirmation h4 {color:#444; font:normal lighter 17px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;}
#returnDirections h5 {color:#444; font-weight:normal; text-transform:uppercase;}
#emailConfirmation label {font-weight:normal;}
#refundOptions label {text-transform:none;}

.oos td {border-top-color:2px solid #6C2B44; border-bottom-color:2px solid #6C2B44;}
.oos .amt {border-right-color:#6C2B44;}
.oos .desc {border-left-color:#6C2B44;}

/* cart.css */
#cartHead .info {float:left;}
#cartHead .addToCart {clear:both;}
#cartHead .addToCart:hover,
#cartFoot .addToCart:hover {_color:#fff;}

#addVoucher a {background:none;}
#cartFoot {border:none;}
#empty td {border:none; text-align:left;}
#empty td h4 {text-transform:none;}

#orderTotal.highlight td {background:#fff; color:#444;}

/* checkout.css */
#checkoutCommand {margin:30px 0;}
#checkoutCommand .fOption label {width:400px;}
#shipOpts .stdC {background:none;}
#shipOpts h4 {line-height:14px; font-size:14px; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
#shipOpts .free {color:#444;}

.eAdr a {background:none; padding:0;}
.eAdr b {text-transform:lowercase;}
#newShipAdr a.cancel {background:none;}
.saveFuture {background:none; border:none; width:600px;}
#giftIcon {display:none;}
#gMsg .characterCount {width:410px;}
fieldset#submitOrder {border:none;}

#cartHead #express, #cartHead #express:hover {*color:#fff;}
#express span, #exPop .btn span {display:none;}
#sidebar .valuePropsBanner {display:none;}

/* perpetualCart.css */
#cartWrap {*float:none; padding:0 10px; z-index:9999;}
#cartWrap.shown {padding:0 10px;}
.shown #viewCart {*text-indent:0;}
#viewCart b {color:#fff; margin:0; *padding-bottom:5px; position:static; text-shadow:none; top:10px;}

#myCartProducts p strong {*margin-top:0; position:static;}
#cartTotal, #addedToCart h5 {background:#fff; color:#555;}
#cartWrap #cartTotal p {color:#444; font: normal 14px "Helvetica Neue", Helvetica, Arial, serif;}
#cartTotal strong {*float:none;}

/* confirmation.css */
#charged {font-family:Verdana, Arial, sans-serif;}
#charged strong {color:#40a2b8;}
#afterSummary {border:none;}
#afterSummary h4 { color:#444; }

/* cartTable.css */
caption {background:none; color:#444; margin-bottom:15px; padding:0 0 0 10px; text-shadow:none; text-transform:none;}
th {background:none; color:#444;}
tfoot td {background:none;}
.amt {border-right:none;}
#shipping td, table.cart h5 {color:#444;}
#total td {background:none; color:#444;}
#totalBilled .amt, #total .amt {font:21px "Helvetica Neue", Helvetica, Arial, sans-serif;}
.details li, .details b {font-weight:normal;}
.desc {border-left:none;}

.moveFromCart {width:auto; text-align:center;}
.moveFromCart .remove {background:none; line-height:16px;}

/* product.css */
#content.productPage {border:none; margin-bottom:-20px;}
#content.productPage h2 {border-left:none; padding-left:0;}

#productForm .oldPrice,
#productForm .salePrice,
#productForm .price,
.theater,
#rating .total,
#audience h3,
.bVneck {font-family:'Helvetica Nueue', Helvetica, Arial, sans-serif; font-style:normal;}

.bVneck {background:none; color:#333; padding:0 20px; margin:0 0 20px;}
.bVneck:after {display:none;}
.bVneck.deepV {font-size:26px; border:none; background:none; color:#5b1c3b; padding:8px 0; text-transform:none;}

#oosPopover h1 {width:auto; left:0; margin:0 40px 128px 0;}
#oosPopover h2 {margin-top:15px; padding-bottom:0; max-width:300px;}
#altCombinations {margin:10px; width:100%;}

#theater {background:none; margin:0; padding:0 0 10px 0;}
#audience {margin-top: 35px;}
#audience .bVneck {margin-bottom:0;}
#audience h2 {display:block; float:none; text-align:center; padding:0;}
#audience h3 {display:block; font-style:italic; text-align:center; margin:0 0 25px 0; padding:0;}

.lobby {margin-left:110px; width:750px;}

#fitSurvey {background:none; border:none; padding:10px 0;}
#fitSurvey h4 {background:none; padding-left:0; text-transform:capitalize; letter-spacing:0;}

.productPage h1,
.productPage h2,
.productPage h3,
#productForm .price,
#audience h3 {font-weight:300;}
#prdInfoText, #productDescText {width:320px;}

#breadcrumbs {color:#999; margin-top:-45px; margin-bottom:20px; font-size:11px; border-top:1px solid #e9e9e9; padding:10px 0 11px 0;}
#sharePrefix {display:none;}
#share {top:0px; left:28px;}
#sku {top:10px; right:48px; font-size:12px;}

#productStage {width:560px;}
#productStage h1 {font-weight:300; font-size:24px; text-transform:none; padding-top:5px;}
#rating {font-weight:300; margin-bottom:30px;}

.theater .wing {border:none; box-shadow:none; border-radius:0;}
.wing.nav li {background:none;}
.wing.nav li a {background:none; font-weight:normal; padding:10px 10px; height:auto; width:auto;}
.wing.nav li a:hover {background:#eee; color:#000;}
.wing.nav li.on a {width:auto;}
.wing.nav li.on:after {display:none;}
#content .wing.nav li.on a {color:#000; background:#ddd; color:#5b1c3b;}
#bLogo {border:none;}
#sizeChart {text-transform:none; font-weight:normal;}
#nav-similar {display:none;}

#productNav {border:1px solid #ddd;}
#productNav a {text-align:right;}

.theater #productForm {border:1px solid #ddd; margin-right:-10px;}
#productForm .price {color:#5b1c3b; font-size:34px;}
#productForm .sale {display:none;}
#productForm .shipOpts {line-height:1.4em;}
#productForm p.shipOpts {text-transform:uppercase; font-weight:bold;}
#productForm .shipOpts i {font-size:12px;}
#productForm .shipOpts b::before,
#productForm .shipOpts b::after {display:none;}
#productForm form label {font-size:12px;}

#productForm .addToCart {padding: 8px 0;}
#productForm .addToFaves .secondary {font-size:11px; font-weight:normal;}

#frontrowActive,
#frontrowSpotlight {border-radius:0; box-shadow:none; border-width:1px;}

#aisle {display:none;}
.reviewInteract {display:none;}
#addReview ol {margin-left:0;}
#productReviews .review {margin-left:0;}

#productReviewsContainer {display:none;}
#productReviewsContainer.hasReviews {display:block;}

.ie .email-address {width:230px;}

/* productList.css */
.product span {text-decoration:none;}
.product .flag {background:none !important; padding:0; position:static; width:170px;}
.product .flag span {color:#444; float:none; font-weight:bold; height:auto; margin:0; text-decoration:none; width:170px;}
.product .flag .sale {color:#40a2b8;}

.salePrice {color:#444;}
.salePrice span {text-decoration:line-through;}

/* testimonials.css */
.testimonialBottom .testimonialTail {background-image:none;}

/* favorites.css */
.favorites h3.favMain {background:none; color:#444; font-weight:lighter; padding:0 0 0 10px; text-transform:none;}
.favorites p.favPos a {text-decoration:none;}
.favorites ul.anchors {clear:both; margin:10px 0; overflow:hidden;}
.favorites ul.anchors li.first {border-right:1px solid #e8e8e8;}

#fav-container, div.favSubSet {background:none; border:none; margin:30px 0;}
#favForm {*width:960px;}
#favForm li.favcheckall, #favBrandForm li.favcheckall, #favSearchForm li.favcheckall {background:none; *clear:both; margin-top:15px; width:100px;}

li.favItemDetail ul li.low-stock {color:#40a2b8;}
li.favItemPrice span, .no-stock, .zombie {color:#444;}
li.favItemInput {text-align:right}

#fav-container a.addToCart {color:#fff;}

li.firstFavItem {clear:both;}
li.favItem {width:960px;}

li.noItems, .promo  {margin-left: 15px; line-height: 20px; text-align: left;}
li.noItems h4 {text-transform: none;}
.promo {padding: 0;}

.favSubSet ul li.favSubSetItem {width:960px;}
.favorites .hcSearch {margin:15px 0;}

#favHelp form {margin:15px 0;}
#favHelp input {padding: 1px 5px; width: 200px;}
#favForm li.favRemove, #favBrandForm li.favRemove, #favSearchForm li.favRemove {clear:none;}
#favForm .favWishlist {margin:15px 15px 15px 0;}

.favSubSet ul li.searchAction {margin:0 0 0 10px;}
.favSubSet p {text-align:left;}

li.noitems {background:none; color:#444; font-size:10px; font-weight:normal; line-height:30px; padding:15px; text-align:left; width:960px;}

/* popups.css */
body#popup {background: none; width:100%;}
#popup .logo {display: none;}
#popup h1.hc {float: none; font-weight:lighter; margin: 15px auto 0; padding:0 40px; text-align:left;}
#popup .notifyMe form label {display:inline-block; float:none; font-weight: normal; padding: 0 5px 0 0; text-align:left; width:80px;}
#popup .notifyMe form select {float:none;}

/*============= Image Canvas =============*/
.imageCanvas{margin:0 auto; position: relative; width:923px; height:480px; margin-bottom:20px;}
.imageCanvas img {position:absolute;}

/*Last Login Attempt*/
#lastAttemptMsg {background:none; border:8px solid #f3f3f3; color:#6C2B44; margin-left:30px; width:84%;}
#returnCustomer #lastAttemptMsg .btn {margin-left:10px;}
#returnCustomer #lastAttemptMsg a {color:#933b6d;}

/*Account Locked*/
#lockedOutErrorMsg {width:420px;}
#lockedOutErrorMsg h2 {border:none; background-image:url(/prd/imgs/accountLocked.20150401154414.png); background-repeat:no-repeat; padding:10px 0 0 36px; min-height:37px; color:#6c2b44; text-transform:none; font-size:16px;}
#lockedOutErrorMsg span {color:#6c2b44;}

/*Password Reset*/
#editEmailAndPasswordCommand #passwordRequirements {padding-left:208px;}

#shipping-options-text .close {display:none;}

#reviewOverview {margin-left:0;}
#productReviews h2 {border:none;}
.writeAReview {display:none;}