@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: local('Coming Soon'), local('ComingSoon'), url(http://fonts.gstatic.com/s/comingsoon/v6/myblyOycMnPMGjfPG-DzP44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/comingsoon/v6/myblyOycMnPMGjfPG-DzP4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
