.article .column1 {
    margin-bottom: 20px;
}
.article .column2 {
    margin-top: 48px;
}
.article .grid4 {
	margin-left: 32px;
    width: 300px;
}
.column1 .slider {
  max-height: 540px;
  overflow: hidden;
}

p {
	font-family: arial, helvetica, sans-serif;
	font-size: 1.6em;
	line-height: 1.6em;
	margin: 0 0 20px;
	padding: 0;
}
#articleText p{
	color: #222;
}
.article-header {
    border-top: 1px solid #666666;
    padding: 10px 0;
}
.article-section {
	font-family: arial, helvetica, sans-serif;
	color: #333333;
	font-size: 1.2em;
	font-weight: bold;
	white-space: nowrap;	
}

.timestamp,
.article-header .divider {
	font-family: arial, helvetica, sans-serif;
	font-size: 1.2em;
	color: #666666;
}

.related-topics {
	float: right;
	font-size: 1.2em;
	color: #333333;
}

.related-topics a {
	color: #666666;
	text-transform: uppercase;
}

.article-headline {
	font-family: "knowledgemedium", arial, helvetica, sans-serif; 
	color: #333333;
	line-height: 42px;
	font-size: 4em;
	font-weight: normal; 
	padding: 6px 0px 6px 0px;
}
.article-info .location {
	color: #666666;
	font-family: aria,helvetica,sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px;
	text-transform: uppercase;
}

.article-info .byline {
	color: #333;
	font-family: arial,helvetica,sans-serif;
	font-size: 1.2em;
	margin-bottom: -3px;
	text-transform: uppercase;
	margin-bottom: -5px;
	padding-top: 0px ! important;
}
.articleLocation{
	display: none;
}

.related-photo,
.cms-insert {
	border-bottom: 1px solid #666666;
	font-family: arial,helvetica,sans-serif;
  	padding: 10px 0;
  	margin-bottom: 20px;
}

.reuters-share + .related-photo{
	padding: 0 0 10px 0;
}

.cms-insert .cms-caption-text {
    margin: 0;
    padding: 0;
}

.related-photo-container,
.cms-insert .cms-media-content {
	margin: 0 0 6px 0; 
	background-color: #e7e7e7; 
    text-align: center;
}
.related-photo .related-photo-caption,
.cms-insert .cms-caption-text{
	color: #666666;
	font-size: 1.2em;
	line-height: 1.5em;
}
.related-photo .related-photo-credit{
	color: #999;
	font-size: 1.1em;
	line-height: 1.3em;
	text-transform: uppercase;
}
.cms-insert .cms-media-content img{
	max-width: 644px;
}
.article-video-inline {
  	padding: 10px 0;
  	margin-bottom: 20px;
}
.reuters-share + #relatedInlineVideo .article-video-inline{
	padding: 0 0 10px;
}

.article-single-page{
	font-size: 1.2em;
}
.article-paginate ul {
    display: inline-block;
    list-style: none;
    font-size: 1.2em;
    margin: 8px 0;
    padding: 0;
    width: 100%;
}
.article-paginate ul li{
	border: none;
	background:none;
	margin: 0 8px 0 0;
	text-transform: uppercase;
	margin: 0;
	padding: 3px 5px;
}
.article-paginate ul li a{
	border: none;
	background:none;
	color: #2083A6;
	padding: 0;
}
.article-paginate ul li.current{
	border: none;
	background: #999;
	color: #fff;
}


/* Modules */
.module ul{
    margin: 0;
    padding: 4px 0 0;
}
.column2 .module{
	margin: 0 0 20px 0;
}
.column2 .module ul{
	background: #f9f9f9;
    display: inline-block;	
	padding: 15px 10px;
}
.module ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}
.column2 .moduleHeader,
.BETACN .column1 .module-center .moduleHeader{
	background: #333;
	padding: 8px 0;
}
.column2 .moduleHeader h3,
.BETACN .column1 .module-center .moduleHeader h3{
	color: #fff;
	font-family: helvetica,arial,sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	margin: 0 10px;
	padding: 0;
	text-transform: uppercase;
}
.column2 .moduleHeader h3 a,
.BETACN .column1 .module-center .moduleHeader h3 a{
	color: #fff;
}

.related-bullet{
	color: #666;
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: middle;
}
/* Special Feature */
#specialFeature ul,
.BETACN .column2 .focus ul,
.gallery.feature + ul{
	background: none;
	display: block;
	margin: 0;
	padding: 0;
}
#specialFeature .module ul li,
.BETACN .column2 .focus ul li,
.gallery.feature + ul li {
	border-top: 1px solid #ccc;
    display: inline-block;
    font-size: 1.1em;
    padding: 8px 0;
    width: 100%;
}

#specialFeature .feature + ul li:first-child{
	border-top: none;
    padding: 0 0 8px;
}
#specialFeature .module ul li a,
.BETACN .column2 .focus ul li a,
.gallery.feature + ul li a{
	font-weight: bold;
}
.gallery.feature p,
.gallery.feature .story-info .byline,
#specialFeature .feature p,
#specialFeature .gallery.feature p,
.photo4up .feature p,
.BETACN .column2 .focus p,
.column2 .assetBuddy .feature p {
    font-size: 1.2em;
    margin: 5px 0;
}
.gallery.feature h2,
#specialFeature .gallery.feature h2,
#specialFeature .feature h2,
.photo4up .feature h2,
.BETACN .column2 .focus h2,
.column2 .assetBuddy .feature h2 {
    font-size: 1.6em;
}
.column2 .assetBuddy .feature h2{
	float: none;
}
#specialFeature .feature,
#HP_Columnist .feature {
	border-bottom: 1px solid #ccc;
	display: table;
	margin-bottom: 8px;
	padding-bottom: 8px;
	width: 100%;
}
#specialFeature .feature:first-child,
#HP_Columnist .feature {
	margin-top: 8px;
}

#specialFeature .feature .photo,
#HP_Columnist .feature .photo,
.column2 .assetBuddy .feature .photo{
	display: inline-block;
	float: left;
	margin: 0;
}
#HP_Columnist .feature .photo,
.column2 .assetBuddy .feature .photo{
	margin: 0 8px 0 0;
}
.gallery.feature .inlineLinks,
#specialFeature .feature .inlineLinks{
	font-weight: bold;
}
.gallery.feature .inlineLinks a:after,
#specialFeature .feature .inlineLinks a:after{
	content: "\00bb";
	padding: 0 0 0 3px;
}
#specialFeature .gallery.feature,
#specialFeature .gallery.feature .photo,
.photo4up .feature .photo{
	border: none;
	margin: 0;	
}
.gallery.feature .photo{
	margin-bottom: 6px;
}
.column2 #HP_Columnist .feature {
	background: none;
	padding: 0 0 8px 0;
}
.column2 .assetBuddy .feature {
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
}
.column2 .assetBuddy .feature:first-child{
	margin: 8px 0;
}

.BETACN .column2 #Right_Rail_Picture .photo img,
.BETACN .column2 .gallery.feature .photo img,
.BETACN .column2 #Right_Rail_Video.focus img{
	width: 300px;
}
.BETACN .column2 #Right_Rail_Video h1{
	padding: 0;
	font-size: 1.6em;
	font-weight: bold;
	line-height: inherit;
}
#Right_Rail_Picture .photo4up .feature {
    margin-top: 20px;
}
#Right_Rail_Picture .photo4up .feature:first-child{
	margin-top: 0;
}

/* RELATED MODULES */
.related-video .row {
	height: 66px;
	margin-bottom: 12px;
	position: relative;
}

.related-video .photo {
     background: none repeat scroll 0px 0px #000000;
     float: left;
     position: relative;
	 display: block;
	 margin-right: 16px;
	 height: 66px;
}

.related-video-header,
.related-coverage-header {
	font-size: 1.4em;
	font-weight: bold;
	color: #333333;
	text-transform: uppercase;
}

.related-video-header {
	margin: 0 0 4px 0;
}
.related-video .feature,
.related-news {
	font-family: arial, helvetica, sans-serif;
	padding: 12px 0 12px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 0 35px 0;
}
.related-video .feature {
	padding: 12px 0 0 0;
}
.related-video .feature h2.related-video-title{
	font-size: 1em;
}
.related-news a,
.related-video .feature a {
	 width: 100%;
	 color: #333;
	 font-size: 1.4em;
	 font-weight: normal;
	 line-height: 30px;
}
.related-news a:hover,
.related-video .feature a:hover {
text-decoration: underline;
}
.related-news-type{
	font-weight: bold;
	font-size: 90%;
	text-transform: uppercase;
}
.factbox-title {
	font-weight: bold;
}

/* Video Player - Inline */
.vidShr,
.vidEnd{
    background: #000;
    display: inline-block;
    height: 362px;
    opacity: 0.8;
    position: relative;
    text-align: center;
    width: 644px;
}
.vidShrSm .vidShrInside,
.vidShrMed .vidShrInside,
.vidShrLrg .vidShrInside{
    margin: 15% 0 0 0;
}
.vidEndSm .vidMain{
    margin: 20% 0 0 0;
}
.vidEndMed .vidMain{
    margin: 70px 0 0 0;
    padding: 0 18px 0;
    text-align: left;
    width: 230px;
}
.vidEndFull {
    height: 365px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

    width: 650px;
}
.vidClose,
.vidShrSocial li a,
.vidLogo,
.vidTools .vidToolsShr,
.vidTools .vidToolsReplay{
    background: url(http://s2.reutersmedia.net/resources_v2/images/vidSprite.png) no-repeat;
    display: inline-block;
    text-indent: -999em;
}
.vidClose {
    display: inline-block;
    background-position: 0 -120px;
    height: 17px;
    position: absolute;
    text-indent: -999em;
    top: 15px;
    right: 15px;
    width: 17px;   
}
.vidClose:hover{
    background-position: -40px -160px;
}
h2.vidShrTitle{
    color: #fff;
    font-family: Georgia,serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 30px 0;
}
.vidShrSocial{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.vidShrSocial li a{
    height: 40px;
    width: 40px;
}
.vidShrSocial li{
    float: left;
    margin: 0 24px 0 0;
}
.vidShrSocial li:last-child{
    margin: 0;
}
.vidShrSocial li.vidTwit a{
    background-position: 0px 0px;
}
.vidShrSocial li.vidTwit a:hover{
    background-position: -200px 0px;
}
.vidShrSocial li.vidFb a{
    background-position: -40px -40px;
}
.vidShrSocial li.vidFb a:hover{
    background-position: -240px -40px;
}
.vidShrSocial li.vidLink a{
    background-position: -80px -80px;
}
.vidShrSocial li.vidLink a:hover{
    background-position: -280px -80px;
}
.vidShrSocial li.vidRedd a{
    background-position: -120px -120px;
}
.vidShrSocial li.vidRedd a:hover{
    background-position: -320px -120px;
}
.vidShrSocial li.vidMail a{
    background-position: -160px -160px;
}
.vidShrSocial li.vidMail a:hover{
    background-position: -360px -160px;
}
.vidCopy{
    color: #9a9a9a;
    display: inline-block;
    margin: 23px 0 0 0;
    padding: 0;
    width: 100%;
}
.vidCopy .vidCopyUrl,
.vidCopy .vidCopyEmbed{
    display: inline-block;
}
.vidCopy .vidCopyUrl{
    margin: 0 28px 0 0;
}
.vidCopy h4{
    color: #eee;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin:  0;
    text-align: left;
    text-transform: uppercase;
    padding: 0;
}
.vidCopy input{
    background: none;
    border: 1px solid #9a9a9a;
    border-radius: 2px;
    color: #9a9a9a;
    margin: 10px 0 0 0;
    padding: 10px;
    width: 100px;
}
.vidCopy input:hover{
    border: 1px solid #fff;
    color: #fff;
}
.vidCopy input::selection{
    background: #f7941d;
}

.vidTxt,
.vidTxt a{
    color: #9a9a9a;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.vidTxt{
    position: absolute;
    bottom: 30px;
    width: 100%;
}


.vidLogo{
    background-position: 0px -199px;
    height: 35px;
    position: absolute;
    top: 17px;
    left: 17px;
    width: 130px;
}
.vidEnd .vidEndSm .vidMain{
    display: inline-block;
    float: inherit;
    width: 265px;
}
.vidEndFull .vidMain{
    display: inline-block;
    margin: 80px 20px 0;
    text-align: left;
    width: 238px;
}
.vidEndFull .vidMoreIndiv{
    display: inline-block;
    padding: 0;
}
h2.vidTitle{
    color: #fff;
    font-family: Georgia,serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
}
.vidTools{
    margin: 31px 0 0 0;
}
.vidTools .vidToolsShr,
.vidTools .vidToolsReplay{
    background-position: 120px 0px;
    color: #fff;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-indent: 0;
    text-decoration: none;
    text-transform: uppercase;
}
.vidTools .vidToolsShr{
    background-position: -120px 0px;
    margin: 0 28px 0 0;
    padding: 2px 0 0 18px;
}
.vidTools .vidToolsShr:hover{
    background-position: -200px -80px;
}
.vidTools .vidToolsReplay{
    background-position: -160px -40px;
    margin-left: 50px;
    padding: 1px 0 0 19px;
}
.vidTools .vidToolsReplay:hover{
    background-position: -240px -120px;
}

.vidEnd .vidMain,
.vidEnd .vidMore{
    float: left;
}

.vidMore{
    border-left: 1px solid #505050;
    height: 330px;
    padding: 0 30px;
    margin: 10px 0;
    width: 315px;
}
.vidMore h2{
    color: #f7941d;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
        
}
.vidMoreIndiv{
	display: inline-block;
	padding: 0;
}
.vidMoreIndiv li{
    float: left;
    list-style: none;
    height: 150px;
    width: 140px;
}
.vidMoreIndiv li .vidMoreIndivImg,
.vidMoreIndiv li img{
	width: 140px;
	height: 80px;
}
.vidMoreIndiv li .vidMoreIndivImg{
	display: inline-block;
	background: url("http://s4.reutersmedia.net/resources_v2/images/rcom-play.png") no-repeat scroll 50% 50% #161616;
}

.vidMoreIndiv li:first-child,
.vidMoreIndiv li:first-child + li + li{
    margin: 0 30px 0 0;
}
.vidMoreIndiv li a{
    display: inline-block;
}
.vidMoreIndiv h4{
    line-height: 13px;
    margin: 0;
    text-align: left;
}
.vidMoreIndiv h4 a{
    color: #bbb;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;   
}
.vidMoreIndiv h4 a:hover{
    color: #fff;
    text-decoration: underline;
}
.vidEndFull .vidMore{
    height: 345px;
    margin: 10px 0;
    padding: 0 35px;
    width: 300px;
}

.vidTxt a:hover,
.vidTools .vidToolsShr:hover,
.vidTools .vidToolsReplay:hover{
    color: #f7941d;
}
.clearfix:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


.vidShrSocial .at300b span,
.vidShrSocial .at300bo span,
.vidShrSocial .at300m span {
    display: none;
}

.press-release-txt{
	color: #666;
    font-size: 1.1em;
    margin-bottom: 10px;
}
.press-release-txt .required{
	color: #ff0000;
	font-weight: bold;
}
.press-release-content {
    max-width: 644px;
    overflow: hidden;
    word-wrap: break-word;
}
.press-release-content p,
.press-release-content h1,
.press-release-content h2,
.press-release-content h3,
.press-release-content h4,
.press-release-content h5 {
	font-size: 1.6em;
	line-height: 1.5em;
}
.press-release-content ul{
	font-size: 10px;
}
.press-release-content ul{
	margin: 8px 0 0;
}
.press-release-content li {
    font-size: 1.4em;
    margin-bottom: 8px;
}
.focusParagraph table {
	width: 100%;
}
.focusParagraph table tr td,
.focusParagraph table tr th {
	padding: 5px 0;
}
.focusParagraph table tr td {
	border-bottom: 1px solid #E3E3E3;
}
.focusParagraph table tr td p,
.focusParagraph table tr th p {
	font-size: 1.2em !important;
}

.column2 .actionButton {
    font-size: 1.1em
}

.column2 .actionButton a {
    background: #444;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin: 5px 0;
    padding: 3px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.column2 .actionButton.breaking a {
    color: #FFF !important;
    background:#ff8000;
}

.BETACN #content h1.article-headline{
	color: #333;
    font-family: "微软雅黑","knowledgemedium",arial,helvetica,sans-serif;
    font-size: 3.8em;
    font-weight: normal;
    line-height: 42px;
    padding: 6px 0px 6px 0px;
}
.BETACN  p{
	font-family: "微软雅黑",arial,helvetica,sans-serif;
	word-break: break-all;
}
.BETACN .column1 .module-center{
	display: inline-block;
	width: 100%;
}
.BETACN .column1 .module-center .grid4{
	margin: 0;
	width: 312px;
}
.BETACN .column1 .module-center .column2.grid4{
	margin-left: 20px;
}
.BETACN .column1 .module-center ul{
	background: none;
	margin: 0;
	padding: 0;
}
.BETACN .column1 .module-center ul li {
	display: inline-block;
	width: 100%;
}
.BETACN .column1 .module-center ul li a{
	display: block;
	font-size: 1.1em;
	padding: 8px 0;
}

/* Ads */
.column2 .ad{
	margin-bottom: 20px;
}
#TPHost_lb, #TPHost_lb_synced{
    float: left; 
    margin-left:124px;
    opacity: 1 !important;
    position: relative;
    visibility: visible !important;
}
#TPHost_lbskin{
    float: left; 
    margin-left:221px;
    opacity: 1 !important;
    position: relative;
    visibility: visible !important;
}
#TPHost_bb{
    opacity: 1 !important;
    position: relative;
    visibility: visible !important;
	text-align:center;
}
