body,
.table{
  color:#000;
}
.login_container, .menu_container, .footer_menu_container, .no_print {
  display: none;
}

.footer_city, .footer_content_container {
  background: none;
}

.footer_content_container div {
  color: #7F7F7F;
}