/* ------------------
	Aol: Huffington Post - EOP - Resp - 6
------------------------- */

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../../fonts/opensans-condensed/opensans-condbold-webfont.eot');
    src: url('../../fonts/opensans-condensed/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/opensans-condensed/opensans-condbold-webfont.woff') format('woff'),
         url('../../fonts/opensans-condensed/opensans-condbold-webfont.ttf') format('truetype'),
         url('../../fonts/opensans-condensed/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection {
  text-shadow: none;
}

/* ------------------
  Widget Container
------------------------- */
#grv_widget {
  margin: 0;
  position: relative;
  font-family: Arial, sans-serif;
}

/* ------------------
  Widget Title
------------------------- */
.grv_stories_header {
	background: #454545;
	font-family: 'OpenSansCondensed', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	margin-bottom: 0px;
	padding: 3px 10px;
	text-transform: uppercase;
	float: left;
	font-weight: normal;
}


/* ------------------
  Articles
------------------------- */
ul.grv_articles {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 2px solid #454545;
}
li.grv_article {
	display: block;
	float: left;
	height: 266px;
	width: 32%;
  padding: 0px;
  margin: 0px 2% 10px 0px;
  position: relative;
}


li.grv_article.grv_is_sponsored  {
	height: 277px;
	margin-bottom: 20px;
}

li.grv_article.grv_num_2,
li.grv_article.grv_num_5 {
	margin-right: 0;
}

a.grv_article_title {
	color: #000;
  display: block;
  font-family: Arial, Helvetica, san-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
	max-height: 144px;
	margin: 15px 0 0 0;
	overflow: hidden;
  padding: 0px 10px;
  position: relative;
  text-decoration: none;
	text-transform: none;
}

.grv_has_image a.grv_article_title {
	color: #000;
  display: block;
  font-family: Arial, Helvetica, san-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
	max-height: 57px;
	margin: 0;
	overflow: hidden;
  padding: 0px;
  position: relative;
  text-decoration: none;
	text-transform: none;
}

a.grv_article_title:hover {
  text-decoration: underline;
}

/* HAS IMAGE */

.grv_has_image a.grv_img_link {
  height: 184px;
  width: 100%;
  display: block;
  overflow: hidden;
  background: transparent;
  position: relative;
  margin: 15px 0px 10px 0px;
}

.grv_post_type {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
  -webkit-box-shadow: inset 0px 0px 80px rgba(0,0,0,0.18);
  -moz-box-shadow:    inset 0px 0px 80px rgba(0,0,0,0.18);
  box-shadow:         inset 0px 0px 80px rgba(0,0,0,0.18);
}

.grv_is_sponsored .grv_display_name{
	color: #999999;
	display: block;
	font-size: 11.0px;
	font-weight: normal;
	text-decoration: none;
	font-family: georgia, times, serif;
	position: relative;
	text-align: left;
	z-index: 10;
}

.grv_is_sponsored .grv_display_name:before{
	content: 'Promoted by ';
}

/* Less than 520 */
.grv_less_520 li.grv_article{
	width: 48%;
	margin-right: 4%;
}

.grv_less_520 li.grv_article.grv_num_1,
.grv_less_520 li.grv_article.grv_num_3,
.grv_less_520 li.grv_article.grv_num_5 {
	margin-right: 0;
}

.grv_less_520 .grv_has_image .grv_article_title{
	font-size: 14px;
	line-height: 17px;
	max-height: 51px;
}

/* ------------------
 	Gravity Attribution
------------------------- */
#grv_badge {
   display: block;
   position: absolute;
   top: 0px;
   right: 0;
}

#grvWidgetStylesLoaded_aol_huffingtonpost_eop_resp_6_bd1e63528702350811005053ba41d337_css {
  width: 1px;
  height: 1px;
  visibility: hidden;
}
