p.tagline { color: #333333; font-size: 14px; margin: 2px 0 8px 0; padding: 0; }

/* Contact page */
#addresses { float:left; width:440px; padding:10px; }

#specialinterest { float:right; width:470px; padding:10px; }

dd { margin-bottom:12px; }
