html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;} /* ie/mac */
.clearfix {
    zoom: 1;
    display: block;     /* resets display for IE/Win */
}

.hasLayout {
	zoom:1;
	clear:both;
}

.hidden { display:none !important; }
.bold { font-weight: bold; }

.hasLayout:after {
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden;
}


/* unfortunately, inline-block requires a fixed-width in ie6 */
.inline-block {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	vertical-align:text-bottom;
	*display:inline;
	_display:inline-block;
}


body {
	font-family: arial,helvetica,sans;
	font-size:12px;
}

.main {
	margin:0 auto;
	width: 940px;
}

.main a {
	color : #006E97;
	text-decoration:none;
}

.main-header {font-size:28px;font-weight:bold;margin-bottom:10px;}
.header .title {
	float: left;
}
.header .poweredByLipper {
	float: right;
}
#leaderboardAd {
	margin-left: 100px;
	margin-bottom: 15px;
}

#ajax-loader { display:none; position:absolute; background:url("/content/images/reuters-loader-f2.gif?_=634242383423517850") no-repeat center center; }

/************** Buttons *********/

div.button {
	line-height:22px;
	height:22px;
	background:url("/content/images/button-sprite.png?_=634238184577987410") no-repeat left 0;
	text-transform:uppercase;
	width: 160px;
	cursor: pointer;
}
div.button div.inner {
	line-height:22px;
	height:22px;
	background:url("/content/images/button-sprite.png?_=634238184577987410") no-repeat right -22px;
	margin-left:6px;
	padding-right:6px;
	text-align:center;
	color: #318DB6;
	font-weight: bold;
}
div.button div.inner a { font-weight:bold; font-size: 11px; }

div.results-button {
	line-height:28px;
	height:28px;
	background:url("/content/images/button-sprite.png?_=634238184577987410") no-repeat left -44px;
	width:300px;
	text-transform:uppercase;
}
div.results-button div.inner {
	line-height:28px;
	height:28px;
	background:url("/content/images/button-sprite.png?_=634238184577987410") no-repeat right -72px;
	margin-left:6px;
	padding-right:6px;
}
div.results-button div.inner a { 
	color:#F03C2C;
	font-weight:bold; 
}
div.results-button div.icon-down {
	float: left;
	margin: 5px 5px 0 5px;
	_cursor: hand;
}
div.results-button div.resultsText {
	white-space: nowrap;
	float: left;
	_cursor: hand;
}

div.icon-down {
	background:url("/content/images/icon-sprite.png?_=634250236751731590") no-repeat 0 0;
	width:16px;
	height:16px;
	line-height:16px;
	font-size:16px;
}

.main ul.site-links {
	list-style-type: none;
	margin:0 0 20px 0;
	padding:0 0 0 0;
	text-transform:uppercase;
}

.main ul.site-links li {
	list-style-type:none;
	margin: 0 6px 0 0;
	padding:0 6px 0 0;
	border-right:1px solid #DEDEDE;
	display:inline;
	font-size: 11px;
	color: black;
	font-weight: bold;
}

.main ul.site-links li.last {
	border-right:none;
}

.main ul.site-links li a {
	font-weight:bold;
}

.main div.quick-screen 
{
    padding:20px 10px;
    border-bottom:1px dotted #AAAAAA;
    width:604px;
}
.main div.quick-screen span 
{
    font-weight:bold;
    text-transform: uppercase;
    margin-left:5px;
}
#currencySelector {
	background-color: #F6F6F6;
	border: 1px solid #E8E8E8;
	margin-top: 15px;
	padding: 10px;
}
#currencySelector .separator {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 0;
}
#currencySelector a.selected {
	font-weight: bold;
	color: Black;
}
.main div.MPUAd
{
    position:absolute;
    right:0;
    top:20px;
    border-left:1px solid #D6D6D6;
    width:306px;
    height:260px;
}
.main div.action-bar {
	border-top:1px solid #D6D6D6;
	border-bottom:1px solid #D6D6D6;
	background-color:#F6F6F6;
	padding:13px 13px;
	margin-top:10px;
}

.main div.action-bar .right-actions { float:right; }
.main div.action-bar .right-actions div.button { margin-left:6px; }
.main div.action-bar .left-actions div.button { margin-right:6px; }

.main div.action-bar .button {
	float: left;
}

.main div.results-bar {
	border-top:3px solid #E4E4E4;
	border-bottom:1px solid #D6D6D6;
	background-color:#F6F6F6;
	padding:13px 13px;
	margin-top:8px;
}

#cumulative-matches {
	*margin-right: 3px;
}

.main div.results-bar div.right-items { float:right; }
.main div.results-bar .title {
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
	line-height:28px;
}

.main div.criteria-row { margin-top:5px; margin-bottom:5px; height:100px;}
.main div.criteria-row .col {
	float:left;
	height:98px;
}
.main div.criteria-row .col-name {
	width:148px;
	border: 1px solid #E8E8E8;
	margin-right:10px;
	font-weight:bold;
}
.main div.criteria-row .col-name div.criterion-name {
	margin-top:10px;
	margin-left:10px;
	font-size:10px;
	font-weight:bold;
}
.main div.criteria-row .col-contents {
	border: 1px solid #E8E8E8;
	width:640px;
	background-color:#F6F6F6;
	position:relative;
}
.main div.criteria-row .col-results {
	width:135px;
	background-color:#424242;
	color:#FFFFFF;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	border: 1px solid #424242;
}
.main div.criteria-row .col-results .matches {
    margin-top:20px;
}
.main div.criteria-row .col-results div.label {
	font-size:14px;
	color:#D6D5D1;
    text-transform:uppercase;
    font-weight:normal;
}

/************* Button / Range / DualRange Criteria ************/
.main .ranges-container 
{
    margin-top:35px;
}
.main .ranges-container ul.range-buttons {
	margin:0 0 0 0;
	padding:0 0 0 0;
	list-style-type:none;
	width:420px;
	height:30px;
	margin:35px auto 0 auto;
}
.main .ranges-container ul.range-buttons li {
	float:left;
	height:30px;
	background-color:#FFFFFF;
	line-height:30px;
	font-weight:bold;
	text-align:center;
}
.main .ranges-container ul.range-buttons li a {
	display:block;
	height:28px;
	color:#000000;
	border-top:1px solid #D6D6D6;
	border-bottom:1px solid #A9A9A9;
	border-left:1px solid #D6D6D6;
}
.main .ranges-container ul.range-buttons li.last a {
	border-right:1px solid #D6D6D6;
}
.main .ranges-container ul.range-buttons li a.selected {
	background-color: #318DB6;
	color:#FFFFFF;
}
.main .col-contents div.ranges-text 
{
    padding:10px;
    font-size:11px;
    border-bottom:1px dotted #AAAAAA;
}
.main .ranges-container .toggler {
	position:absolute;
	right:15px;
	top:40px;
}
.main .ranges-container .input-selectors { 
	margin:0 auto; 
	width:420px;
}
.main .input-selectors input.numeric { width:50px; margin-right: 3px; margin-left:3px; }
.main .input-selectors select { width:130px; margin-right:5px; }

/************* Region Criteria ************/

.main .region-container { margin: 0 auto; width:600px; border-left:1px solid #D6D6D6 }
.main .region-container { margin-top:20px;  background-color:#FFFFFF; border:1px solid #D6D6D6; }
.main .region-container #img-world-map { width:300px; height:140px; }
.main .region-container div#numCountriesSelected { color:#9A9A9A; font-size:10px; padding:3px 12px;}
.main .region-container div.allRegions,
.main .region-container div.allCountries 
{
       float:left;
}
.main .region-container div.allRegions {
	width: 120px;
}
.main .region-container div.allCountries {
	width: 180px;
}
.main .region-container ul.region-list,
.main .region-container ul.country-list { 
	margin:0 0 0 0; 
	padding:0 0 0 0; 
	list-style-type:none; 
	background-color:#FFFFFF; 
	border-left:1px solid #D6D6D6; 
	height:154px;
	=height:155px;
	overflow:auto;
	overflow-x:hidden;
}
.main .region-container ul.region-list  
{
	overflow:hidden;
}
.main .region-container ul.region-list li,
.main .region-container ul.country-list li  
{
    margin:0 0 0 0; padding: 4px 4px; border-bottom:1px dotted #AAAAAA; cursor:pointer;
}
.main .region-container ul.region-list li 
{
    background:url("http://www.funds.reuters.wallst.com/resources/funds/image/screener/icons/rightArrow.gif") no-repeat scroll 107px center #FFFFFF;
    padding: 7px 6px;
    font-weight:bold; 
    border-right:1px solid #D6D6D6; 
}
.main .region-container ul.region-list li.no_arrow 
{
    background:none;
}
.main .region-container ul.region-list li.selected { background-color: #2A83C0; color:#FFFFFF; }
.main .region-container ul.region-list li,
.main .region-container ul.country-list li,
.main .region-container ul.region-list li label,
.main .region-container ul.country-list li label 
{
    cursor:pointer;
}

.main .region-container div.map { width: 300px; float:left }

.main div#row-Region { height:198px; }
.main div#row-Region .col { height:196px; }
.main div#row-Region .col-contents ul.range-buttons { }
.main div#row-Region .col-results div.matches { margin-top:40px; }
div#row-Region input {
	margin-left: 0;
}



/************* Sector & Industry Criteria ************/

.main .sectorindustry-container .allsectors,
.main .sectorindustry-container .allindustries
{
    float:left;
}
.main .sectorindustry-container { margin: 0 auto; width:600px; border-left:1px solid #D6D6D6 }
.main .sectorindustry-container ul.sector-list,
.main .sectorindustry-container ul.industry-list { 
	margin:0 0 0 0; 
	padding:0 0 0 0; 
	list-style-type:none; 
	background-color:#FFFFFF; 
	border-left:1px solid #D6D6D6; 
	height:240px;
	overflow:auto;
	overflow-x:hidden;
}
.main .sectorindustry-container ul.sector-list 
{
	width:320px;
	overflow:hidden;
}
.main .sectorindustry-container ul.industry-list 
{
	width: 278px;
}
.main .sectorindustry-container { margin-top:20px;  background-color:#FFFFFF; border:1px solid #D6D6D6; }
.main .sectorindustry-container ul.sector-list li, 
.main .sectorindustry-container ul.industry-list li  
{
    margin:0 0 0 0; padding: 4px 6px; border-bottom:1px dotted #AAAAAA; cursor:pointer; *padding: 1px 6px;
}
.main .sectorindustry-container ul.sector-list li 
{
    font-weight:bold;
    border-right:1px solid #D6D6D6;
    background: #FFFFFF url("http://www.funds.reuters.wallst.com/resources/funds/image/screener/icons/rightArrow.gif") 304px center no-repeat;
} 
.main .sectorindustry-container ul.sector-list li div.label {
	float: left;
}
.main .sectorindustry-container ul.sector-list li.selected { background-color: #2A83C0; color:#FFFFFF; }
.main .sectorindustry-container ul.sector-list div.numSelected 
{
    font-weight:normal; 
    font-size:10px; 
    color:#555; 
    float:right;
    margin-right:14px;
    =margin-right:20px;
    margin-top:1px;
    =margin-top:5px;
    _margin-right: 7px;
}
.main .sectorindustry-container ul.sector-list li.selected div.numSelected { color:#FFFFFF; }
.main .sectorindustry-container div.region-groups ul.region-list li { font-weight:bold; }
.main .sectorindustry-container div.regions ul.region-list li { border-right:1px solid #D6D6D6; }

.main div#row-SectorAndIndustry { height:282px; }
.main div#row-SectorAndIndustry .col { height:280px; }
.main div#row-SectorAndIndustry .col-results div.matches { margin-top:40px; }

/************* Stock Universe Criteria ************/
.main div#row-StockUniverse  
{
    height:204px; 
    padding-top:12px;
    padding-bottom:12px; 
    margin-bottom:10px; 
    border-bottom:1px solid #D6D6D6;  
}
.main div#row-StockUniverse .col-name { height:204px; }
.main div#row-StockUniverse .col-contents { height:152px; }
.main div#row-StockUniverse div.col-contents { width: 460px;}
.main div#row-StockUniverse div.col-contents .ranges-container {margin-top: auto;}
.main div#row-StockUniverse div.col-contents  ul.range-buttons { margin-top: 10px; }
.main div#row-StockUniverse div.col-contents  ul.range-buttons li { height:95px;}
.main div#row-StockUniverse div.col-contents  ul.range-buttons li.Domestic { margin-right:10px;}
.main div#row-StockUniverse div.col-contents  ul.range-buttons li.International div {color:#8A8A8A;}
.main div#row-StockUniverse div.col-contents  ul.range-buttons li.International a.selected div {color:#FFF;}
.main div#row-StockUniverse div.col-contents  ul.range-buttons li a { height:93px;}
.main div#row-StockUniverse div.col-contents  ul.range-buttons li a div a { height:auto; border:none;}
.main div#row-StockUniverse div.col-results { width: 460px; height:40px; padding-top:10px;}
.main div#row-StockUniverse div.col-results .matches { margin-top:2px; display:inline}
.main div#row-StockUniverse div.col-results .label { margin-left:5px; display:inline}

.main div#row-StockUniverse div.sub-prescreen { font-size:22px; margin-bottom:0; }
.main div#row-StockUniverse div.sub-matches { font-size:14px; margin-top:-8px;}

/************* 52 Week High Criteria ************/

.main div#row-PctFrom52 .ranges-container .input-selectors 
{
    width:510px;
}
/************* END Criteria ************/

div.hopupMask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	opacity: 0.6;
	z-index: 9999;
	display: none;
}
div.hopup {
	position: absolute;
	border: solid 4px #000;
	background-color: #fff;
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 12px 20px;
	z-index: 99999;
	display: none;
	color: #560a5d;
}
div.hopup * {
    margin: 0;
    padding: 0;
}
div.hopup h2 {
	font-size: 20px;
	margin-bottom: 8px;
}
div.hopup div.desc 
{
    margin-top:10px; margin-bottom: 20px;
}
div.hopup div.crit 
{
    margin-top:6px; margin-bottom: 14px;
}
div.hopup div.closeBtn {
	text-decoration: none;
	margin-top: 12px;
	margin-left: 384px;
}
div.hopup div.closeBtn img {
	cursor: pointer;
}
div.hopup div.content {
	border: solid 1px #ddd;
	border-top: 0;
	width: 808px;
}
div.hopup div.content ul.items {
	float: left;
}
div.hopup div.content ul.items li {
	width: 210px;
	list-style-type: none;
	border: solid 1px #ddd;
	border-bottom: 0px;
	border-left: 0px;
	cursor: pointer;
	padding: 12px;
}
div.hopup div.content ul.items li.active {
	background-color: #318DB6;
	color: #fff;
}
div.hopup div.content div.itemContent {
	border-top: solid 1px #ddd;
	padding: 12px;
	padding-left: 250px;
}


/******************************************
 *
 * Add to Watchlists popup dialog
 *
 *******************************************/
.watchlistDialog {
	position: absolute;
	border: solid 4px #000;
	background-color: #fff;
	font: normal 12px Arial, Helvetica, sans-serif;
	padding: 12px 20px;
	z-index: 1000;
	width: 475px;
}
.watchlistDialog h2 {
	font-family: "Arial";
	font-size: 18px;
	padding-bottom: 3px;
}
.watchlistDialog .messageWrap {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 20px 0;
	font-size: 13px;
}
.watchlistDialog .greenCheck {
	background: url("/content/images/greenCheck.gif?_=634245865446588600") no-repeat;
	width: 23px;
	height: 23px;
	float: left;
	margin-right: 15px;
}
.watchlistDialog .redAlert {
	background: url("/content/images/redAlert.gif?_=634245865446588600") no-repeat;
	width: 26px;
	height: 21px;
	float: left;
	margin-right: 15px;
}
.watchlistDialog .message {
	margin-top: 3px;
}
.watchlistDialog .closeBtn {
	text-decoration: none;
	margin-top: 12px;
	margin-left: 207px;
}
.watchlistDialog div.closeBtn img {
	cursor: pointer;
}


/************************************
 *
 * Screener Results
 *
 ************************************/
#ScreenerResults table {
	margin-top: 20px;
	width: 100%;
}
#ScreenerResults th {
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	border-bottom: 1px solid #CCC;
	padding: 7px 10px;
}
#ScreenerResults th a {
	color: Black;
	border-bottom: 1px dotted black;
}
#ScreenerResults td {
	border-bottom: 1px dotted #CCC;
	padding: 7px 10px;
}
#ScreenerResults th.txtRight,
#ScreenerResults td.txtRight {
	text-align: right;
}
#ScreenerResults a {
	font-weight: bold;
}
.main div.at-a-glance div.results-info 
{
    float: left;
    padding: 10px;
    border-right: 1px solid #D6D6D6;
}
.results-info h1 {
	font-size: 36px;
	font-weight: bold;
	color: #555;
}
.results-info h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 5px;
}
.results-info h5 {
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 10px;
}
.results-info .name {
	font-weight: bold;
	color: #555;
	font-size: 12px;
}
.at-a-glance .at-a-glance-inner {
	width: 150px;
}
.at-a-glance .equityMatches {
	width: 125px;
}
.at-a-glance .equityMatches h5 {
	margin-bottom: 5px;
}
.at-a-glance .selectedCriteria {
	width: 285px;
}
.at-a-glance .selectedCriteria span 
{
    margin-left:5px;
}
.main div.at-a-glance div.resultsView {
	border-right: none;
}
#ScreenerResults td .symbol {
	color: #999;
	font-weight: bold;
}
.paging_footer {
	background-color: #F1F1F1;
	border-top: 1px solid #CCC;
	height: 32px;
	margin-top: 40px;
}
select#addToWatchlist {
	font-size: 12px;
}
.watchListContainer {
	margin-top: 7px;
	float: left;
}
.notLoggedIn {
	background: url("/content/images/icon-sprite.png?_=634250236751731590") no-repeat 0 -84px;
	width: 169px;
	height: 19px;
}
.paging_links {
	float: left;
	padding: 10px;
}
.paging_wrap {
	padding: 6px 10px 0 0;
	font-size: 11px;
}
.paging_wrap select {
	font-size: 11px;
	margin-right: 15px;
}
.rfloat {
	float: right;
}
.lfloat {
	float: left;
}
.previousLink, 
.nextLink {
	font-weight: bold;
	margin-top: 2px;
}
.previousLink {
	margin-right: 15px;
}
.paging_wrap a {
	font-weight: bold;
	line-height: 11px;
	margin: 0 4px 0 2px;
	padding: 0 4px;
}
.paging_wrap a.active {
	background-color: #999;
	color: #FFF;
	cursor: default;
	font-weight: bold;
	text-decoration: none;
}
strong {
	font-weight: bold;
}

#loaderMask {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	opacity: 0.6;
	position: absolute;
	background-color: White;
	top: 0;
	left: 0;
}

.noResultsDialog {
	background-color: #FFF;
	border: 3px solid black;
	z-index: 10000;
	padding: 10px;
	width: 300px;
}
.noResultsDialog h3 {
	font-size: 16px;
}
.noResultsDialog p {
	margin: 10px 0;
}
.noResultsDialog .closeBtn {
	cursor: pointer;
	width: 54px;
	height: 21px;
	margin-left: 120px;
}

.noWrap {
	white-space: nowrap;
}
