/* Share Tools */
.reuters-share{
   display: inline-block;
   margin: 0 0 10px;
}

.reuters-share li{
    margin-right: 15px;
}

.reuters-share li:last-child{
    margin-right: 0;
}

.reuters-share li a{
    outline: none;
}

.reuters-share .shr-ico,
.reuters-share-close .shr-ico,
.reuters-static-btn .btn-ico{
    display: block;
    float: left;
    height: 30px;
    padding: 0;
    background: url("rcom-social-v2.png");
    font-size: 1.2em;
    line-height: 1.8;
    color: #808080;
    text-align: center;
    width: 30px;
}


.reuters-share .shr-mail .shr-ico,
.reuters-share .shr-mailArticle .shr-ico,
.reuters-share .shr-mailVideo .shr-ico,
.reuters-share .shr-mailSlide .shr-ico {
    background-position: 0px 0px;
}

.reuters-share .shr-twitter .shr-ico {
    background-position: -30px 0px;
}

.reuters-share .shr-facebook .shr-ico {
    background-position: -60px 0px;
}

.reuters-share .shr-linkedin .shr-ico {
    background-position: -90px 0px;
}

.reuters-share .shr-reddit .shr-ico {
    background-position: -120px 0px;
}

.reuters-share .shr-google .shr-ico {
    background-position: -150px 0px;
}

.reuters-share .shr-weibo .shr-ico {
    background-position: -180px 0px;
}

.reuters-share .shr-wechat .shr-ico {
    background-position: -210px 0px;
}

.reuters-share .shr-share .shr-ico,
.reuters-static-btn.shr-share .btn-ico {
    background-position: -240px 0px;
}

.reuters-share .shr-embed .shr-ico {
    background-position: -270px 0px;
}

.reuters-share .shr-link .shr-ico {
    background-position: -300px 0px;
}

.reuters-share .shr-close .shr-ico,
.reuters-share-close .shr-close .shr-ico,
.reuters-static-btn.shr-close .btn-ico  {
    background-position: -330px 0px;
}

.reuters-license .shr-ico {
    background-position: -360px 0px;	
}

.reuters-share .shr-buy .shr-ico,
.reuters-static-btn.shr-buy .btn-ico{
    background-position: -390px 0px;
}

.reuters-share .shr-more .shr-ico{
    background-position: -420px 0px;
}

.reuters-share .shr-mail a:hover .shr-ico,
.reuters-share .shr-mailArticle a:hover .shr-ico,
.reuters-share .shr-mailVideo a:hover .shr-ico,
.reuters-share .shr-mailSlide a:hover .shr-ico,
.reuters-static-btn.shr-mail .reuters-static-enc:hover .btn-ico,
.reuters-static-btn.shr-mailArticle .reuters-static-enc:hover .btn-ico,
.reuters-static-btn.shr-mailVideo .reuters-static-enc:hover .btn-ico,
.reuters-static-btn.shr-mailSlide .reuters-static-enc:hover .btn-ico {
    background-position: 0px -30px;
}

.reuters-share .shr-twitter a:hover .shr-ico,
.reuters-static-btn.shr-twitter .reuters-static-enc:hover .btn-ico {
    background-position: -30px -30px;
}

.reuters-share .shr-facebook a:hover .shr-ico,
.reuters-static-btn.shr-facebook .reuters-static-enc:hover .btn-ico {
    background-position: -60px -30px;
}

.reuters-share .shr-linkedin a:hover .shr-ico,
.reuters-static-btn.shr-linkedin .reuters-static-enc:hover .btn-ico {
    background-position: -90px -30px;
}

.reuters-share .shr-reddit a:hover .shr-ico,
.reuters-static-btn.shr-reddit .reuters-static-enc:hover .btn-ico {
    background-position: -120px -30px;
}

.reuters-share .shr-google a:hover .shr-ico,
.reuters-static-btn.shr-google .reuters-static-enc:hover .btn-ico {
    background-position: -150px -30px;
}

.reuters-share .shr-weibo a:hover .shr-ico,
.reuters-static-btn.shr-weibo .reuters-static-enc:hover .btn-ico {
    background-position: -180px -30px;
}

.reuters-share .shr-wechat a:hover .shr-ico,
.reuters-static-btn.shr-wechat .reuters-static-enc:hover .btn-ico {
    background-position: -210px -30px;
}

.reuters-share .shr-share a:hover .shr-ico,
.reuters-static-btn.shr-share a:hover .btn-ico,
.reuters-static-btn.shr-share .reuters-static-enc:hover .btn-ico {
    background-position: -240px -30px;
}

.reuters-share .shr-embed a:hover .shr-ico,
.reuters-static-btn.shr-embed .reuters-static-enc:hover .btn-ico {
    background-position: -270px -30px;
}

.reuters-share .shr-link a:hover .shr-ico,
.reuters-static-btn.shr-link .reuters-static-enc:hover .btn-ico {
    background-position: -300px -30px;
}

.reuters-share .shr-close a:hover .shr-ico,
.reuters-share-close .shr-close a:hover .shr-ico,
.reuters-static-btn.shr-close .reuters-static-enc:hover .btn-ico,
.reuters-static-dark.reuters-static-btn.shr-close a:hover .shr-ico,
.reuters-static-dark.reuters-static-btn.shr-close a:hover .btn-ico  {
    background-position: -330px -30px;
}

.reuters-license a:hover .shr-ico,
.reuters-static-btn.shr-license a:hover .shr-ico,
.reuters-static-btn.shr-license .reuters-static-enc:hover .btn-ico,
.reuters-static-dark.reuters-static-btn.shr-license a:hover .shr-ico,
.reuters-static-dark.reuters-static-btn.shr-license a:hover .btn-ico {
    background-position: -360px -30px;	
}

.reuters-share .shr-buy a:hover .shr-ico,
.reuters-static-btn.shr-buy a:hover .btn-ico,
.reuters-static-btn.shr-buy .reuters-static-enc:hover .btn-ico{
    background-position: -390px -30px;
}

.reuters-share .shr-more a:hover .shr-ico,
.reuters-static-btn.shr-more .reuters-static-enc:hover .btn-ico{
    background-position: -420px -30px;
}

.reuters-share.reuters-share-dark .shr-mail .shr-ico,
.reuters-share.reuters-share-dark .shr-mailArticle .shr-ico,
.reuters-share.reuters-share-dark .shr-mailVideo .shr-ico,
.reuters-share.reuters-share-dark .shr-mailSlide .shr-ico {
    background-position: 0px -60px;
}

.reuters-share.reuters-share-dark .shr-twitter .shr-ico {
    background-position: -30px -60px;
}

.reuters-share.reuters-share-dark .shr-facebook .shr-ico {
    background-position: -60px -60px;
}

.reuters-share.reuters-share-dark .shr-linkedin .shr-ico {
    background-position: -90px -60px;
}

.reuters-share.reuters-share-dark .shr-reddit .shr-ico {
    background-position: -120px -60px;
}

.reuters-share.reuters-share-dark .shr-google .shr-ico {
    background-position: -150px -60px;
}

.reuters-share.reuters-share-dark .shr-weibo .shr-ico {
    background-position: -180px -60px;
}

.reuters-share.reuters-share-dark .shr-wechat .shr-ico {
    background-position: -210px -60px;
}

.reuters-share.reuters-share-dark .shr-share .shr-ico,
.reuters-static-dark.reuters-static-btn.shr-share .btn-ico,
.reuters-static-btn.reuters-static-btn-dark.shr-share .btn-ico {
    background-position: -240px -60px;
}

.reuters-share.reuters-share-dark .shr-embed .shr-ico {
    background-position: -270px -60px;
}

.reuters-share.reuters-share-dark .shr-link .shr-ico {
    background-position: -300px -60px;
}

.reuters-share.reuters-share-dark .shr-close .shr-ico,
.reuters-share-dark .reuters-share-close .shr-close .shr-ico {
    background-position: -330px -60px;
}

.reuters-share.reuters-share-dark .shr-license .shr-ico,
.reuters-static-dark.reuters-static-btn.shr-license .btn-ico {
    background-position: -360px -60px;	
}

.reuters-share.reuters-share-dark .shr-buy .shr-ico,
.reuters-static-dark.reuters-static-btn.shr-buy .btn-ico,
.reuters-static-btn.reuters-static-btn-dark.shr-buy .btn-ico{
    background-position: -390px -60px;
}

.reuters-share.reuters-share-dark .shr-more .shr-ico{
    background-position: -420px -60px;

}


.reuters-share .shr-embed {
    margin-left: 16px;
}

.reuters-share .shr-url .shr-embed {
    background: none;
    border: 1px solid #808080;
    color: #808080;
    line-height: 14px;
    margin-top: 2px;
    padding: 5px;
    width: 105px;
}

.reuters-share .shr-url .shr-embed:hover,
.reuters-share .shr-url .shr-link:active {
    color: #fff;
}


.reuters-share .shr-count,
.reuters-share .shr-txt,
.reuters-share-close .shr-txt,
.reuters-static-btn .shr-txt {
    color: #808080;
    font-size: 1.2em;
    line-height: 1.8em;
    float: left;
    margin: 4px 0 0 5px;
}

.reuters-share .shr-ico,
.reuters-static-btn  .btn-ico {
    cursor: pointer;
}

.reuters-share-more {
    border-top: 1px solid #454545;
    display: none;
    margin: 5px 0;
    padding: 6px 0;
    position: relative;
}

.reuters-share-more textarea {
    background: #161616;
    border: 1.5px solid #303030;
    border-radius: 10px;
    color: #ccc;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    margin: 8px;
    padding: 6px 5px;
    position: relative;
    resize: none;
    width: 948px;
}

.reuters-share-more textarea::-moz-selection {
    background: #fff;
    color: #454545;
}

.reuters-share-more textarea::selection {
    background: #fff;
    color: #454545;
}

.reuters-share-close .shr-close .shr-ico {
    text-indent: -999em;
}

.reuters-share-copy {
    position: absolute;
    top: -32px;
    right: 8px;
    z-index: 2;
    font-size: 1.2em;
    line-height: 1.8em;
    color: #888;
}

.btn-reuters-share-copy {
    background: #161616;
    border: 1px solid #999;
    border-radius: 10px;
    display: inline-block;
    color: #999;
    cursor: pointer;
    margin: 6px 8px;
    padding: 10px;
}

.reuters-static-btn{
	cursor: pointer;
	font-size: 10px;
}

.slideshow-slide-container .reuters-static-btn{
	margin: 20px 0 12px;
}



@media only screen and (min-height: 1050px) {
    .reuters-share-more textarea {
        width: 620px;
    }

    .reuters-share-copy {
        line-height: 1.1em;
        width: 320px;
    }
}

.reuters-share-close {
    background: #161616;
    padding: 5px 0;
    position: absolute;
    top: -41px;
    width: 100%;
}

.module .moduleBody .reuters-share{
    font-size: 10px;
}

.module .moduleBody .reuters-share ul li{
    background: none;
    display: inline-block;
    margin-right: 15px;
    padding: 0;
}
