/* Footer social icons */
.social li{
float:left;
margin-right: 4px;
}

/* Free Shipping */
.bar_3-logos .left{
display:none;
min-width:115px !important;
}

.bar_3-compareAll{
display:none !important;
}

/* CA Masthead Styles */
@media(max-width:66em)
{
.bar_1-link-number {display:none;}
}