*{box-sizing:border-box;}

.subseries-promo-bar{
	display: none !important;
}

#sitemap-container {
	margin:0 auto;
	overflow:auto;
	padding-bottom:20px;
}
#sitemap-container #left-box{
	width:75%;
	float:left;
	border-right: 1px solid #ccc;
}
#sitemap-container #right-box{
	width:25%;
	float:left;
}
#sitemap-container #left-box h2{
	background-color: #cf2a23;
	position:relative;
}

#sitemap-container #left-box h2:first-child{
	background-image: linear-gradient(#88160a,#cf2a23 25%);
	background-color: #cf2a23;
}



#sitemap-container #left-box h2 a {
	clear: both;
	padding: 5px 10px;
	color: #fff;
	font-size: 18px;
	margin: 0px;
	text-transform:uppercase;
	font-size: 0.9em;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

#sitemap-container #right-box h2{
	clear: both;
	padding: 3px 10px;
	display:block;
	color: #fff;
	background:#f3f3f3;
	font-weight:bold;
	margin: 0px;
	text-transform:capitalize;
}

#sitemap-container #right-box h2:first-child{
	clear: both;
	padding: 3px 10px;
	display:block;
	color: #fff;
	background:#f3f3f3;
	font-weight:bold;
	margin: 0px;
	text-transform:capitalize;
	background-image: linear-gradient(#8d8d8d,#f3f3f3 25%);
}





#sitemap-container #right-box h2 a{
	color: #555;
	font-size: 0.9em;
	font-weight: bold;
}


.section {
	width:auto;
	font-family: arial, verdana,arial,sans-serif;
	color: #666;
}

.pad10{display:block; margin:10px 20px; margin-bottom:0;
	text-transform:uppercase;}
.pad10 a {color:#000;}
#left-box .section ul {
overflow:auto;
padding:0;
font-size:0;
display: table;
width: 95%;
list-style: none;

}
#left-box .section ul ul {
border: none;
margin:0;
list-style: none;
}
#left-box .section ul ul ul {
overflow:auto;
border: none;
padding:0;
}
#left-box .col1 ul li {
border-left: #999 dotted 1px;
background: none;
display:inline-block;
vertical-align:top;
width:99%;
}
#left-box .col2 ul li {
border-left: #999 dotted 1px;
background: none;
display:inline-block;
vertical-align:top;
width:49%;
display: table-cell;

}
#left-box .col3 ul li {
border-left: #999 dotted 1px;
background: none;
display:inline-block;
vertical-align:top;
width:33%;
display: table-cell;
//sfloat: left;
}
#left-box .col4 ul li {
border-left: #999 dotted 1px;
background: none;
display:inline-block;
vertical-align:top;
width:24%;
}
#left-box .section ul li:first-child {
border:none;
}
#right-box .section ul li {
background: none;
font-size:18px;
padding: 5px 20px;

}
#right-box .section ul {
margin:5px 0;
-webkit-padding-start: 0px;
width: 100%;
display: table-cell;
list-style: none;

}
#right-box .section hr {
margin:0 20px;
border-top:1px dotted #ccc;
border-collapse:collapse;
}
#left-box .section ul ul li {
display: block;
font-size:12px;
border:0;
margin:10px 20px;
border:0px solid #fcc;
width:80%;

}
#left-box .section ul ul ul li {
display:inline-block;
font-size:11px;
font-weight:normal;
margin:1px 0;
padding-left:10px;
margin-right:10px;
border-left:1px solid #999;
width: auto;
float: left;
}

#left-box .section ul ul ul li:first-child{
padding-left:0px;
border: none;	
}


/*#left-box .section ul ul ul li:nth-last-child(1) {
	border:none;
}*/
#left-box .section ul li a {
	font-size:16px;
	font-weight:bold;
}
#right-box .section ul li a {
	font-size:12px;
	font-weight:normal;
	display:block;
	clear:both;
	text-transform:none;
}
#left-box .section ul ul li a {
	font-size:14px;
text-transform:none;
font-weight:bold;
color: #009dd9;
}
#right-box .section ul ul li a {
text-transform:none;
font-weight:normal;
color: #009dd9;
}
#left-box .section ul ul ul li a {
font-size:11px;
background:none;
padding:0;
font-weight:normal;
color: #555;
}

#sitemap-container #left-box h2.opened:before, #sitemap-container #right-box h2.opened:before,#sitemap-container #left-box h2.closed:before, #sitemap-container #right-box h2.closed:before{
	content: "";
}

/*.section ul ul ul li::before { content: "|"; padding: 0 .7em; }
.section ul ul ul li::first-child:before { content: ""; padding: 0; }*/

.brandListings-expandableHeading{
line-height: 1em;
height: 3em;
padding-left: 4px;
}

.brandListings-expandableHeading a{
color: #555;

}


#sitemap-container #left-box h2.opened:before, #sitemap-container #right-box h2.opened:before{
	content: "";
}

.expandableHeading, .expandableHeading-onlySmall {
border: none;
}

.expandableHeading{
	background:none;
	filter:none;
	background-image: none;
	border-color:none;
	border-width:0px;
	border-style: none;
	border:none;	
}

.expandableContent{
	border: none;
	border-color:none;
	border-width:0px;
	border-style: none;
}

.expandableHeading-is-expanded:before, .expandableHeading-onlySmall-is-expanded:before {
content: "";
}

.expandableHeading:before, .expandableHeading-onlySmall:before, .expandableHeading-is-expanded:before, .expandableHeading-onlySmall-is-expanded:before, .tabbedBrowse-configurator-expandItems-expand-all:before {
display: none;
}


#sitemap-container #left-box h2, #sitemap-container #right-box h2 {
height: 2em;
line-height: 2em;
}



@media only screen and (max-width: 37.99em) {

.pad10{
display: block;
margin: 5px 7px;
margin-bottom: 0;
text-transform: uppercase;
float: left;
}

.expandableHeading, .expandableHeading-onlySmall {
border: 1px solid #cecfce;
}

.expandableHeading{
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFEFEFE', endColorstr='#FFE7E7E7');
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #e7e7e7));
	background-image: -webkit-linear-gradient(#fefefe,#e7e7e7);
	background-image: -moz-linear-gradient(#fefefe,#e7e7e7);
	background-image: -o-linear-gradient(#fefefe,#e7e7e7);
	background-image: linear-gradient(#fefefe,#e7e7e7);
}

.expandableHeading:before, .expandableHeading-onlySmall:before, .expandableHeading-is-expanded:before, .expandableHeading-onlySmall-is-expanded:before, .tabbedBrowse-configurator-expandItems-expand-all:before {
display: inline-block;
margin-left: 0.5em;
}

.expandableHeading:before, .expandableHeading-onlySmall:before {
content: "+";
}

.expandableHeading-is-expanded:before, .expandableHeading-onlySmall-is-expanded:before {
content: "-";
}

#sitemap-container #left-box h2, #sitemap-container #right-box h2{
	height: 3em;
	line-height: 3em;
}

.expandableHeading{
}
#left-box .section ul { clear:both; width: 100% }
#left-box .section ul ul { clear:both; display:block; border:0px solid #ccc; }
#left-box .section ul ul ul { clear:both; display:block; }

#left-box .section ul li { clear:both; border:0px solid #ccc; width:100%; display: block; }
#left-box .section ul ul li { clear:both; display:block; 
margin: 0.625em 1.250em 0em 0em;
width: 100%;
}
#left-box .section ul ul ul li { clear:both; display:block; border:0px; margin:0; width: 100%;
padding-left: 0px;}
#left-box .section ul ul ul li:nth-last-child(1) { clear:both; display:block; border:0px; padding-left: 0px}

#left-box .section ul li a { clear:both; display:block; }
#left-box .section ul ul li a { clear:both; display:block;
border-bottom: 1px solid #cecfce;
padding-bottom: 5px;
padding-left: 0.625em;
line-height: 2.3em;
 }

#left-box .section ul ul ul li a { clear:both; display:block; padding:0.625em; background:none;line-height: 2.3em;
}


#right-box .section ul{
	display: block;
	width: 100%;
	margin-bottom: 0px;
}

#right-box .section ul li{
border-bottom: 1px solid #ccc;	
}

#sitemap-container #left-box{ width:100%; clear:both;}
#sitemap-container #right-box{ float:left; width:100%}

.col1{ width:100%; clear:both; }
.col2{ width:100%; clear:both; }
.col3{ width:100%; clear:both; }

.col2 ul li { width:100%; }
.col2 ul li:nth-last-child(1) { width:100%; }

#sitemap-container #right-box h2{
	background-image: linear-gradient(#88160a,#cf2a23 40%);
	background-color: #cf2a23;
}

#sitemap-container #right-box h2:first-child{
	background-image: linear-gradient(#88160a,#cf2a23 40%);
	background-color: #cf2a23;
}


#sitemap-container #right-box h2 a {
	clear: both;
	padding: 5px 10px;
	color: #fff;
	font-size: 18px;
	margin: 0px;
	text-transform:uppercase;
	font-size: 0.9em;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.seriesListings-expandableHeading, .brandListings-expandableHeading {
display: block;
}

.brandListings-expandableHeading {

}

.seriesListings-expandableContent-features.expandableContent-is-collapsed, .brandListings-expandableContent-features.expandableContent-is-collapsed {
display: none;
}

.expandableHeading:before, .expandableHeading-onlySmall:before, .expandableHeading-is-expanded:before, .expandableHeading-onlySmall-is-expanded:before, .tabbedBrowse-configurator-expandItems-expand-all:before {
display: inline-block;
width: 1em;
height: 1em;
margin-right: 0.5em;
margin-left: 0.1em;
line-height: .9em;
font-size: 1.2em;
font-weight: normal;
text-align: center;
vertical-align: center;
border: 1px solid #0ea2da;
color: #0ea2da;
text-indent: 0;
float: left;
}



}




@media only screen and (min-width:38em) and (max-width:64em) {

#sitemap-container #left-box h2, #sitemap-container #right-box h2 {
height: 3em;
line-height: 3em;
}



#left-box .section ul { clear:both; width: 100% }
#left-box .section ul ul { border:0px solid #ccc; }
#left-box .section ul ul ul { border:0px solid #ccc; clear:both; display:block; }
#left-box .section ul li { width:33.33%; display: table-cell; border-left: 1px dotted #cecece;}

#left-box .section .more-columns { clear:both; width: 100% }
#left-box .section .more-columns ul { border:0px solid #ccc; }
#left-box .section .more-columns ul ul { border:0px solid #ccc; clear:both; display:block; }
#left-box .section .more-columns li { width:33.33%; display: block; border-left: 1px dotted #cecece; float:left;}



#left-box .section ul ul li { clear:both; display:block; 
margin: 0.625em 1.250em 0em 0em;
width: 100%;
}
#left-box .section ul ul ul li { clear:both; display:block; border:0px; margin:0; width: 100%;
padding-left: 0px;}

#left-box .section ul ul ul li:nth-last-child(1) { clear:both; display:block; border:0px; padding-left: 0px}

#left-box .section ul li a { clear:both; display:block; }
#left-box .section ul ul li a { clear:both; display:block;
border:none;
padding-bottom: 5px;
padding-left: 0.625em;
line-height: 2.3em;
 }

#left-box .section ul ul ul li a { clear:both; display:block; padding:0em; background:none;line-height: 2.3em;
padding-left: 0.9em;
}


#right-box .section ul{
	display: block;
	width: 100%;
	margin-bottom: 0px;
}

#right-box .section ul li{
border-bottom: 1px solid #ccc;	
}

#sitemap-container #left-box{ width:100%; clear:both;}
#sitemap-container #right-box{ float:left; width: 100%}

.col1{ width:100%; clear:both; }
.col2{ width:100%; clear:both; }
.col3{ width:100%; clear:both; }

.col2 ul li { width:100%; }
.col2 ul li:nth-last-child(1) { width:100%; }

.expandableHeading{
border:none;
}

.pad10 {
margin: 10px 10px;
}


}

