/*Override*/
body, * {
	font-family: "Helvetica Neue",Arial,"Hiragino Sans GB","微软雅黑",Simsun,sans-serif;
}
body {
		background: rgb(245, 245, 245);
}
header , .breadcrumb {
	background: #BD3500;
	text-align: center;
	color: white;
	font-size: 15px;
	line-height: 24px;
	padding-left: 5px;	
}
.deals.indexDeal, .dealBottomTool, section.deals.search , section.brands, section.ppzk-banner, section.home-banner {
	max-width: 600px;
	margin: 12px auto;
}

header h1 a.none {
	background: none;
}
header h1 a.back-home {
	background: url("../images/icon_logo_back.png") no-repeat scroll 0% 0% / 65px auto transparent
}
header h1 a.back {
	background: url("../images/nav_back.png") no-repeat scroll 0% 0% / 65px auto transparent
}
.nav-logo {
	width: 65px;
	display: inline-block;
	background: url("../images/nav_logo.png") no-repeat scroll 0% 0% / 65px auto transparent
}
/*index*/

.home-banner {
	overflow: hidden;
	height: 100px;
}

.home-banner .banner-image { 
	overflow: hidden;
	height: 100%;
	background-size: auto 100%
}


.tag {
	padding-top: 0;
	box-shadow: 0px 1px 0px #eee;
	background: white;
}
.tag a {
	width: 25%;
	height: 32px;
	border-left: none;
	border-bottom: 3px solid white;
}
.tag a span {
	line-height: 36px;
	font-family: "Helvetica Neue",Arial,"Hiragino Sans GB","微软雅黑",Simsun,sans-serif;
}
.tag a.cur {
	border-bottom: 3px solid #BD3500;
}
.tag a.cur span {
	color: #BD3500;
	font-weight: bold;
}
.tag .dropdown-menu {
	top: 28px;
	margin-left: 6px;
	min-width: 260px;
	width: 25%;
}
.tag a span .tab-arrow { 
	margin-left: 3px;
	width: 12px;
	height: 7px;
	background: url("../images/tab_arrow_down.png") no-repeat scroll 0px 0px / 16px auto transparent;
	background-size: 12px 6px;
	display: inline-block;
 }

.dropdown-menu {
	-webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	
	z-index: 999;
	border-radius: 6px;
	border: 1px solid #eee;
	overflow: hidden;
}

.tag .dropdown-menu li {
	border-bottom: 1px solid rgb(246, 246, 246);
	font-size: 13px;
	line-height: 20px;
}
.tag .dropdown-menu li:last-child {
	border-bottom: none;
}

section.deals.search {
	border: none;
	margin: 12px auto;
	padding: 0;
}
section.deals.search form {
	width: 100%;
	margin: 0 auto;
}

.deals div figure img {
	width: 100px;
	height: 100px;
}

.deals div p span {
	font-size: 18px;
	color: #BD3500;
}
.deals div p cite {
	font-size: 14px;
}
.deals div aside {
	margin-top: 30px;
	font-size: 14px;
}
.deals.indexDeal > div {
	background: white;
	margin-top: 0;
	margin-bottom: 1px;
	padding-top: 10px;
	border-bottom: none;
}
.deals div {
	padding: 10px;
}

.deals div p {
	margin-top: 10px;
}

.deals div aside {
	margin-top: 22px;
}

header .search-icon {
	float: right;
	line-height: 24px;
	margin-right: 6px;
	font-size: 14px;
	width: 68px;
	text-align: right;
}
.search-icon, .search-icon * {
	color: white;
}
footer aside {
	background: none;
	border: none;
}

footer aside span.l, footer aside div.l {
	width: 33%;
	text-align: left;
	float: left;
}
footer aside span.r, footer aside div.r {
	width: 33%;
	text-align: right;
	float: right;
}

.dealBottomTool .more {
	border: none;
	font-size: 14px;
	line-height: 44px;
	border-radius: 3px;
	margin-top: 16px;
}

/*PPZK*/
.brands .brand aside::after {
    border-color: rgba(230, 77, 98, 0) rgba(230, 77, 98, 0) rgba(230, 77, 98, 0) #BD3500;
}

.brands .brandbox {
	padding: 0;
	margin: 12px 0;
}
.brands .brandbox:last-child {
	margin-bottom: 0;
}
.brand .logo {
	padding: 4px 10px;
}
.brand figure .price {
	background: rgba(0,0,0,0.5);
}
.brands .brand aside {
	background-color: #BD3500;
}
.brand .logo h2 {
	font-size: 13px;
	line-height: 30px;
}
.brand .logo .tim {
	font-size: 12px;
	line-height: 30px;
}
.ppzk-banner {
	overflow: hidden;
}
.ppzk-banner img {
	width: 100%;
}
 .ppzk-brand-description {
	padding: 8px 8px;
	display: block;
	background: white;
	overflow: hidden;
 }

/*Search*/
.search {
	height: auto;
}
.search form {
	margin: 12px auto;
}
.search .smt {
	background: #C62E00;
	font-size: 13px;
	color: white;
	border-radius: 0px 6px 6px 0px;
	  -webkit-appearance: none;
}
.search .txt {
	font-size: 13px;
	border-radius: 6px 0 0 6px;
	border: 1px solid #ddd;
  -webkit-appearance: none;
}

#loadMoreData.disabled {
  opacity: 0.5;
}

