/*!CK:1711774050!*//*1428330749,*/

.sp_6JE2ecpx4hw{background-image:url(/rsrc.php/v2/yl/r/WcQQDNVCrLp.png);background-size:41px 71px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_6JE2ecpx4hw.sx_f5384a{background-position:0 -41px}.sp_6JE2ecpx4hw.sx_0e4b26{background-position:-17px -41px}.sp_6JE2ecpx4hw.sx_b1c065{width:40px;height:40px;background-position:0 0}.sp_6JE2ecpx4hw.sx_70e82a{width:12px;height:12px;background-position:0 -58px}

#bootloader_4RhJ4 { height: 42px; }
.bootloader_4RhJ4 { display:block !important; }