/*!CK:1812368194!*//*1429139965,*/

.sp_3ZpiWJgFMJB{background-image:url(/rsrc.php/v2/yL/r/bGrylBofXZj.png);background-size:53px 180px;background-repeat:no-repeat;display:inline-block;height:52px;width:52px}.sp_3ZpiWJgFMJB.sx_4ab4fe{width:11px;height:11px;background-position:-37px -106px}.sp_3ZpiWJgFMJB.sx_d0e835{background-position:0 0}.sp_3ZpiWJgFMJB.sx_92b8ce{background-position:0 -53px}.sp_3ZpiWJgFMJB.sx_503fdb{width:36px;height:36px;background-position:0 -106px}.sp_3ZpiWJgFMJB.sx_dae41d{width:36px;height:36px;background-position:0 -143px}

#bootloader_R1sjB { height: 42px; }
.bootloader_R1sjB { display:block !important; }