@charset "UTF-8";
/* CSS Document */
.show_only
{
    margin: 10px 5px 10px 5px;
    background: none repeat scroll 0 0 #f1f2f2;
    border: 1px solid #e6e7e8;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 0 10px 20px;
    width: 825px;
    float:left;
    overflow:none;
}

.show_only label
{
    margin-right:20px;
}

.enable_button
{
    float:right;
    margin-right:15px !important;
}

.bank_divs_left
{
    width:45%;
    float:left;
}

.bank_divs_left label
{
    float:left;
}

.bank_divs_left input
{
    width:60%;
    float:right;
}

.bank_divs_left div
{
    margin-top:20px;
}

.enable_image_containers
{
    background: none repeat scroll 0 0 #f0f0f0;
    cursor: pointer;
    float: left;
    height: 110px;
    margin: 0 10px 10px 0;
    opacity: 0.5;
    padding-top: 5px;
    vertical-align: middle;
    width: 115px;
}

.enable_image_containers:hover, .enable_image_containers.current {
    opacity: 1;
}

.enable_image_containers.active {
    background: none repeat scroll 0 0 #f0f0f0;
    float: left;
    height: 110px;
    margin: 0 10px 10px 0;
    opacity: 1;
    padding-top: 5px;
    vertical-align: middle;
    width: 115px;
}