/*  ***************************************************
  S P O T L I G H T   N E W   W I D G E T
***************************************************** */

body.akamaiPreview {
  background: #f6f6f6;
}
body.akamaiPreview #Main {
  margin: 0 auto !important;
}

.dvm-spotlight-new {
  width: 1000px;
  float: left;
  position: relative;
}
.dvm-spotlight-new .spotlight-new-left {
  background-color: #444;
  width: 155px;
  height: 175px;
  float: left;
  margin: 0 15px 0 0;
  padding: 45px 15px 0 22px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px;
  position: absolute;
}
.dvm-spotlight-new .spotlight-new-left p {
  font-size: 17px;
  color: white;
}
.dvm-spotlight-new .spotlight-new-left h2 {
  color: white !important;
  font-family: Arial, sans-serif !important;
  color: white !important;
  font-size: 31px !important;
  font-weight: bold !important;
  letter-spacing: -1px !important;
  margin: -20px 0 17px 0;
}
.dvm-spotlight-new .spotlight-new-left h3 {
  font-family: Arial, sans-serif !important;
  color: white !important;
  font-size: 18px !important;
  font-weight: bold !important;
  letter-spacing: 0px;
  margin: 0;
  padding-right: 10px;
}
.dvm-spotlight-new .spotlight-new-item-loading {
  text-align: center;
  font-family: Arial, sans-serif !important;
  color: #999999 !important;
  font-size: 14px !important;
  font-weight: normal !important;
  float: right;
  margin: 0px auto 0 auto;
  width: 100%;
  position: relative;
  top: 130px;
}
.dvm-spotlight-new .spotlight-new-left.onerow {
  /*Adding this style to avoid overlaping when there is just 1 row of widgets*/
  height: 220px;
}
.dvm-spotlight-new .spotlight-new-right {
  float: left;
  padding: 0;
  position: relative;
  width: 1010px;
}
.dvm-spotlight-new .spotlight-new-right li.spotlight-new-item {
  width: 192px;
  height: 220px;
  padding: 0;
  float: left;
  margin: 0 10px 10px 0;
  background: white;
  border-radius: 4px;
}
.dvm-spotlight-new .spotlight-new-right li.spotlight-new-item a {
  display: block;
  float:left;
  height: 100%;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.dvm-spotlight-new .spotlight-new-right li.spotlight-new-item a .outer {
  background: transparent url('http://static.targetimg1.com/DVM/2015/Spotlight/Apr/img/spotlight-sprite-041215.jpg') no-repeat center bottom;
  width: 157px;
  height:104px;
  margin: 100px 0 0 15px;
  z-index: 1;
  }
.dvm-spotlight-new .spotlight-new-right li.spotlight-new-item a .spotlight-new-item-name {
  float: left;
  margin: 12px 3px 0 10px;
}
.spotlight-new-item-name .spotlight-new-offer,
.spotlight-new-item-name .spotlight-new-product,
.spotlight-new-item-name .spotlight-new-h3 {
  font-family: Arial, sans-serif !important;
  color: #cc0000 !important;
  font-size: 19px !important;
  font-weight: bold !important;
  float: left;
  margin: 0 4px 0 0 !important;
  letter-spacing: -0.7px;
  line-height: 21px;
}
.spotlight-new-item-name .spotlight-new-product,
.spotlight-new-item-name .spotlight-new-h3 {
  color: #333333 !important;
  margin: 0;
}
.spotlight-new-item-name .spotlight-new-product.red {
  font-family: Arial, sans-serif !important;
  color: #666666 !important;
  font-size: 15px !important;
  font-weight: normal !important;
  float: left;
  display: block;
  letter-spacing: 0;
  margin: 1px 1px 0 0;
}
.spotlight-new-item-name .spotlight-new-product p.lineBreak{
 margin:0 0 0 0 !important;
}
.spotlight-new-item-name .pHsmall {
  font-family: Arial, sans-serif !important;
  color: #666666 !important;
  font-size: 15px !important;
  font-weight: normal !important;
  letter-spacing: 0;
}
.spotlight-new-item-name .spotlight-new-product.red,
.spotlight-new-item-name .offerRed {
  color: #cc0000 !important;
}
.spotlight-new-item-name p.lineBreak {
  margin: 0 !important;
}
.spotlight-new-item-name .spotlight-new-link {
  font-family: Arial, sans-serif !important;
  color: #454545 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  margin: 8px 0 0 0px !important;
  float: left;
  display: block;
  width: 100%;
}
.spotlight-new-item-name .spotlight-new-link:after {
  content: ' \203A';
  font-size: 14px;
  text-decoration: none !important;
}
.spotlight-new-item-name .spotlight-new-link .lineBreak {
  margin: 0 0 8px 0;
}
.spotlight-new-item-name .offerGray {
  color: #333333;
}
.spotlight-new-item-name .lineBreak {
  width: 100%;
  float: left;
  display: block;
}
.spotlight-new-item-name .bigHeading{
  font-size:30px;
}
.spotlight-new-item-name .bigHeading > .lineBreak{
  margin: 10px 0 0 0;
}
li.spotlight-new-item a.Target-recipes .outer,
.ie8 li.spotlight-new-item a.Target-recipes:hover .outer  {
  background: transparent url("http://static.targetimg1.com/DVM/2015/Spotlight/Feb/img/target-recipes-sprite.gif") no-repeat center bottom !important;
  background-position: -155px 0px !important;
}
li.spotlight-new-item a.Target-recipes:hover .outer {
  background-position: 0px 0px !important;
}
li.spotlight-new-item a.Target-coupons .outer,
.ie8 li.spotlight-new-item a.Target-coupons:hover .outer  {
  background: transparent url("http://static.targetimg1.com/DVM/2015/Spotlight/Feb/img/target-coupon-sprite.gif") no-repeat center bottom !important;
  background-position: -155px 0px !important;
}
li.spotlight-new-item a.Target-coupons:hover .outer {
  background-position: 0px 0px !important;
}
li.spotlight-new-item:first-child {
  background: none !important;
}

/*GLOBAL CSS FIX FOR WHITE SPACE*/
 /*
#e17{
   top:2250px !important;
}
#Main.flexible_grid_layout {
  height: 2410px!important;
}
 */
/*GLOBAL CSS FIX FOR WHITE SPACE*/