/* This CSS document ver #9510 by chris.abel on 31/03/2015 */

/* This CSS document ver #9509 by chris.abel on Mar 31 2015  1:19PM */
/* This CSS document ver #9248 by brian.clements on Mar  9 2015  5:17PM */
/* This CSS document ver #9247 by brian.clements on Mar  9 2015  5:09PM */
/* This CSS document ver #9246 by brian.clements on Mar  9 2015  5:08PM */
/* This CSS document ver #9227 by brian.clements on Mar  6 2015  3:40PM */
/* This CSS document ver #9226 by brian.clements on Mar  6 2015  3:35PM */


/* #### START STORE WIDE SETTINGS #### */
body {
	
  background: #fff;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	color:#000;
  font-size: 12px;
}
a {
	text-decoration: none;
	color: #AAA;
	font-weight: bold;
}
a:link {
	text-decoration: none;
	color: #a00;
	font-weight: bold;
}
a:visited {
	text-decoration: none;
	color: #a00;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
	color: #111;
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
}
h3 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

/* #### END STORE WIDE SETTINGS #### */

/* #### START HEADER ####*/

	/* #### START BASKET #### */
	.HeaderBasket {
		background-color: rgba(203,203,203,0.7);
		border: black 1px solid;	
top: 12px;
right: 20px;
	} 
	.HeaderBasket > div {
		padding: 5px;
		float: left;
	}
	.HeaderBasket__Title {
		float:none!important;
		background-color: #000;
		color: white;
		font-weight: bolder;
	}
	.HeaderBasket__Total {
		clear: both;
	}
	/* #### END BASKET #### */


	/*### START NAV BAR #### */
	/* remove the rounded corners */
	.navbar {
		border-radius: 0px;
		margin-bottom:0px;
	}
	/* change the background colour, border */
	.navbar-default {
		background-color: #222222;
		border:none;
	}
	/* add the white seperator lines between links */
	.navbar-default .navbar-nav>li{
		border-right:1px solid white;
	}
	/* but don't show the very last white seperator bar */
	.navbar-right li:last-child {
		border-right:none;
	}	
  .navbar-default .navbar-text {
	  color:white;
    font-weight: bold;
	}
	/* change the text colour of the links in the nav */
	.navbar-default .navbar-nav>li>a {
		color:white;
	}
	.navbar-default .navbar-nav>li>a:visited {
		color:white;
	}
	.navbar-default .navbar-nav>li>a:hover {
	color:white;
text-decoration: underline;
	}
	/* hide the search box */
	.MainNavSearch {
background:rgba(203,203,203,0.7);
padding-top: 10px;
		/*display:none;*/
	}
	/* Hide the basket item count */
	.MainNavBasket__ItemCount {
		display: none!important;
	}
	/* Hide the basket item count */
	.MainNavBasket__TotalValue {
		display: none!important;
	}
	.SecondaryNavRow {
		background-color: rgba(203,203,203,0.7);
	}
	.SecondaryNavMenu > li > a {
		background-color: #111;
		color: #FFF;
		padding: 0px 2px;
		border: 1px solid #FFF;
    font-size: 11px;
	}
	.SecondaryNavMenu > li > a:link {
		background-color: #111;
		color: #FFF;
		padding: 0px 2px;
		border: 1px solid #FFF;
    font-size: 11px;
	}
	.SecondaryNavMenu > li > a:visited {
		background-color: #111;
		color: #FFF;
		padding: 0px 2px;
		border: 1px solid #FFF;
    font-size: 11px;
	}
	.SecondaryNavMenu > li > a:hover {
		text-decoration: underline;
		background-color: #fff;
		color: #111;
    font-size: 11px;
	}

	/*### END NAV BAR #### */

/*### END HEADER #### */

/* #### START MAIN PAGE AREA #### */
main {
	background-color: rgba(203,203,203,.7);
	padding: 0px 10px 20px 10px;
}
/* #### END MAIN PAGE AREA #### */

/* #### START FOOTER #### */
.Footer {
	margin-top:0px;
	text-align:center;
}
.FooterNav {
	background-color:rgba(203,203,203,.7);
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
	padding:5px;
}
.FooterSecurity {
	margin-top:20px;
}
.FooterSecurity > a {
	margin:0 5%;
}
/* #### END FOOTER #### */

/* #### START CUSTOM WORK #### */
.ArtistProductSetBody {
  border:white 1px solid;border-radius: 2px;
}
.thumbnail {
	background-color:transparent;
  border:none;
}
.FeaturedProductSet__Products {
  border:white 1px solid;border-radius: 2px;
background:#fff;
}
.TopItemsProductSet__Products {
  border:white 1px solid;border-radius: 2px;
background:#fff;
}
.NewItemsProductSet__Products {
  border:white 1px solid;border-radius: 2px;
background:#fff;
}
.ProductSetTitle {
  border-bottom: 1px solid #AAAAAA;
}
.thumbnail > .caption > div {
	color:black;
}

.ProductAlsoBought__Body {
	border:white 1px solid;
}

.MoreProductsCategory__Title {
	background-color:#fff;
}

.MoreProducts__Body, .ProductSizeSelect {
	border:white 1px solid;
	padding:0px 5px 5px 5px;
background:#fff;
}

.ProductMessage {
	padding-top:0px;
	margin-top:0px;
	font-wieght:bold;
	font-size:large;
	color: #222;
	border: 1px solid #000;
	background: #000;
}

.BasketItem:nth-child(odd) {
	background-color:rgba(0,0,0,.3)
}

.BasketCheckout__SecureCheckoutButton{
	color:green;
	font-weight:bold;
}
.ProductThumbnailSmall__BandName {
	/*display:none;*/
}

.HeaderLogo__Img{
margin-left: 00px;
margin-right: auto;
}

.HeaderLogo{
background:#fff;
}
/* #### END CUSTOM WORK #### */

.HeaderLogo {
margin-top:10px;
margin-bottom:10px;
}

.HeaderLogoRow__BannerAd {
margin-top:10px}