<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="UTF-8" name="charset" content="" />
<meta name="" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta property="og:title" name="og:title" content="VICE Meets Anas Aremeyaw Anas | VICE | United States" />
<meta name="twitter:title" content="VICE Meets Anas Aremeyaw Anas | VICE | United States" />
<meta name="keywords" content="Anas Aremeyaw Anas, VICE Meets, journalism, Chameleon, Ghana, Ryan Mullins" />
<meta name="description" content="Anas Aremeyaw Anas is the controversial Ghanian investigative journalist who&#039;s broken dozens of stories of corruption and organized crime in West Africa. He&#039;s also the subject of a new documentary called &lt;i&gt;Chameleon&lt;/i&gt; by Ryan Mullins." />
<meta property="og:description" name="og:description" content="Anas Aremeyaw Anas is the controversial Ghanian investigative journalist who&#039;s broken dozens of stories of corruption and organized crime in West Africa. He&#039;s also the subject of a new documentary called &lt;i&gt;Chameleon&lt;/i&gt; by Ryan Mullins." />
<meta name="twitter:description" content="Anas Aremeyaw Anas is the controversial Ghanian investigative journalist who&#039;s broken dozens of stories of corruption and organized crime in West Africa. He&#039;s also the subject of a new documentary called &lt;i&gt;Chameleon&lt;/i&gt; by Ryan Mullins." />
<meta property="og:url" name="og:url" content="http://www.vice.com/video/vice-meets-anas-aremeyaw-anas" />
<meta name="twitter:url" content="http://www.vice.com/video/vice-meets-anas-aremeyaw-anas" />
<meta name="twitter:card" content="summary" />
<meta property="og:type" name="og:type" content="article" />
<meta property="og:site_name" name="og:site_name" content="VICE" />
<meta name="twitter:site" content="@vice" />
<meta property="og:image" name="og:image" content="http://vice-images.vice.com/images/articles/crops/2015/05/22/vice-meets-anas-aremeyaw-anas-1432325939-crop_social.jpg" />
<meta property="og:image:type" name="og:image:type" content="image/jpeg" />
<meta name="twitter:image" content="http://vice-images.vice.com/images/articles/crops/2015/05/22/vice-meets-anas-aremeyaw-anas-1432325939-crop_social.jpg" />
<meta property="og:locale" name="og:locale" content="en_us" />
<meta property="fb:app_id" name="fb:app_id" content="203796769683945" />
<meta name="thumbnail" content="http://vice-images.vice.com/images/articles/crops/2015/05/22/vice-meets-anas-aremeyaw-anas-1432325939-crop_social.jpg" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-square70x70logo" content="/assets/images/vice/favicons/mstile-70x70.png" />
<meta name="msapplication-TileImage" content="/assets/images/vice/favicons/mstile-144x144.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/vice/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/vice/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/vice/favicons/mstile-310x310.png" />
<meta name="sailthru.title" content="VICE Meets Anas Aremeyaw Anas | VICE | United States" />
<meta name="sailthru.url" content="http://www.vice.com/video/vice-meets-anas-aremeyaw-anas" />
<meta name="sailthru.locale" content="en-us" />
<meta name="sailthru.publish_date" content="2015-05-25T19:23:54+00:00" />
<meta name="sailthru.description" content="Anas Aremeyaw Anas is the controversial Ghanian investigative journalist who\&#039;s broken dozens of stories of corruption and organized crime in West Africa. He\&#039;s also the subject of a new documentary called &lt;i&gt;Chameleon&lt;/i&gt; by Ryan Mullins." />
<meta name="sailthru.author" content="" />
<meta name="sailthru.item_type" content="article" />
<meta name="sailthru.expire_date" content="2015-05-26" />
<meta name="sailthru.primary" content="vicecom" />
<meta name="sailthru.tags" content="Anas Aremeyaw Anas, VICE Meets, journalism, Chameleon, Ghana, Ryan Mullins, vicecom-en-us" />
<link rel="alternate" type="application/rss+xml" href="http://www.vice.com/rss" />
<link rel="canonical" href="http://www.vice.com/video/vice-meets-anas-aremeyaw-anas" />
<link rel="stylesheet" href="/assets/css/vice/style.css?v20150518195921" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.ico" />
<link sizes="57x57" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-57x57.png" />
<link sizes="60x60" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-60x60.png" />
<link sizes="72x72" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-72x72.png" />
<link sizes="76x76" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-76x76.png" />
<link sizes="114x114" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-114x114.png" />
<link sizes="120x120" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-120x120.png" />
<link sizes="144x144" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-144x144.png" />
<link sizes="152x152" rel="apple-touch-icon-precomposed" href="/assets/images/vice/favicons/apple-touch-icon-152x152.png" />
<link sizes="16x16" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-16x16.png" />
<link sizes="32x32" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-32x32.png" />
<link sizes="96x96" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-96x96.png" />
<link sizes="196x196" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-196x196.png" />
<link sizes="128x128" type="image/png" rel="icon" href="/assets/images/vice/favicons/favicon-128.png" />
<link rel="next" href="http://www.vice.com/video/talking-to-director-brett-morgen-about-his-cobain-documentary-montage-of-heck-140" />
<script type="text/javascript" src="/assets/js/vmp/lib/modernizr-2.5.3.min.js"></script>
<script type="text/javascript" src="//advice-ads.s3.amazonaws.com/DE/viceIVW-CS.js"></script>
<script type="text/javascript">
/*<![CDATA[*/
//Begin Analytics Code
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-599058-49', 'auto', {'name' : 'tracker_1'});
ga('create', 'UA-599058-133', 'auto', {'name' : 'tracker_2'});

ga('tracker_1.set', 'contentGroup2', 'film');
ga('tracker_2.set', 'contentGroup2', 'film');
ga('tracker_1.set', 'contentGroup4', '2015_05_25');
ga('tracker_2.set', 'contentGroup4', '2015_05_25');
ga('tracker_1.set', 'contentGroup5', '2015_05');
ga('tracker_2.set', 'contentGroup5', '2015_05');

ga('tracker_1.require', 'displayfeatures');
ga('tracker_2.require', 'displayfeatures');

ga('tracker_1.send', 'pageview', {"page":"\/en_us\/video\/vice-meets-anas-aremeyaw-anas"});
ga('tracker_2.send', 'pageview', {"page":"\/en_us\/video\/vice-meets-anas-aremeyaw-anas"});


/*]]>*/
</script>
<title>VICE Meets Anas Aremeyaw Anas | VICE | United States</title>
</head>
<body class="videos-page single-page  en_us">
	<section class="site-wrapper">
		<div id="viceContentAd" data-src="v-vice-film"></div>
<nav class="site-menu">
	<div class="search-container">
		<div class="site-icon search"></div>

		<form action="/search" method="GET" name="search">
			<input type="text" name="query" placeholder="Search..." />
		</form>
	</div>

	<ul class="parent-list">
		
<section class="items-container" id=""><li class="parent-item no-children" id="main-nav-heading-1">
	<a href="/videos">		Watch	</a></li>
	<ul class="child-list watch">
			</ul>
<li class="parent-item no-link" id="main-nav-heading-2">
			Sections	</li>
	<ul class="child-list sections">
		<li><a href="/news">News</a></li><li><a href="/music">Music</a></li><li><a href="/fashion">Fashion</a></li><li><a href="/travel">Travel</a></li><li><a href="/sports">Sports</a></li><li><a href="/tech">Tech</a></li><li><a href="/food">Food</a></li><li><a href="/gaming">Gaming</a></li><li><a href="/nsfw">Nsfw</a></li><li><a href="/dnd">Dos & Don'ts</a></li>	</ul>
<li class="parent-item no-children" id="main-nav-heading-3">
	<a href="/photos">		Photos	</a></li>
	<ul class="child-list photos">
			</ul>
<li class="parent-item no-children" id="main-nav-heading-4">
	<a href="/magazine">		Magazine	</a></li>
	<ul class="child-list magazine">
			</ul>
<li class="parent-item no-link" id="main-nav-heading-5">
			Topics	</li>
	<ul class="child-list topics">
		<li><a href="/tag/crime">Crime</a></li><li><a href="/series/the-vice-guide-to-mental-health">Mental Health</a></li><li><a href="/tag/politics">Politics</a></li><li><a href="/tag/opinion">Opinion</a></li><li><a href="/tag/culture">Culture</a></li><li><a href="/tag/lgbt">LGBT</a></li>	</ul>
</section>

					<li class="parent-item">
				<a href="/pages/about" class="about-link">
					About				</a>
			</li>
				<ul class="child-list about">
		<li><a href="/pages/jobs">Careers</a></li><li><a href="/pages/about">Contact</a></li><li><a href="/pages/about">Advertising</a></li><li><a href="/pages/about">Press Kit</a></li><li><a href="/pages/shane-smith">Founders</a></li><li><a href="http://store.vice.com">Store</a></li><li><a href="/pages/privacy-and-terms">Privacy & Terms</a></li>				</ul>
	</ul>
</nav><section class="vice-network-bar">
	<section class="links">
		<div class="link-trigger">
			<a href="/pages/about">
				About			</a>
		</div>

		<ul>
			<li><a href="/pages/about">About Us</a></li><li><a href="/pages/jobs">Careers</a></li><li><a href="/pages/about">Contact</a></li><li><a href="/pages/about">Advertising</a></li><li><a href="/pages/about">Press Kit</a></li><li><a href="/pages/shane-smith">Founders</a></li><li><a href="http://store.vice.com">Store</a></li><li><a href="/pages/privacy-and-terms">Privacy & Terms</a></li>		</ul>
	</section>

	<span class="copyright">&copy;2015 VICE Media LLC</span>

	<p class="version"></p>

	<section class="locales">
		<div class="current-locale"></div>

		<ul></ul>
	</section>

	<section class="family">
		<h2 class="family-trigger">The <span class="icon-sprite">VICE</span> Channels</h2>

		<ul></ul>
	</section>
</section>

<header class="site-header main-header">
	<div class="site-header-inner">
		<button class="site-icon hamburger menu-non-rounded"></button>

		<div class="logo">
			<a href="/" title="VICE">
				<span></span>
			</a>
		</div>

		<div class="navigation-items-container">
			<nav class="navigation-items main-nav">
				
<ul class="items-container" id=""><li class="trigger main-nav-trigger watch" data-navigation-item-key="watch">
	<a href="/videos">		Watch	</a></li><!----><li class="trigger main-nav-trigger sections no-link" data-navigation-item-key="sections">
			Sections	</li><!----><li class="trigger main-nav-trigger photos" data-navigation-item-key="photos">
	<a href="/photos">		Photos	</a></li><!----><li class="trigger main-nav-trigger magazine no-dropdown" data-navigation-item-key="magazine">
	<a href="/magazine">		Magazine	</a></li></ul>
			</nav>

			<nav class="navigation-items more small-viewport">
									<ul class="items-container">
						<li class="trigger no-link" data-navigation-item-key="more/topics">
							<span class="small-viewport">
								Topics							</span>
							<span class="large-viewport">
								More							</span>
						</li>
					</ul>
							</nav>

			<nav class="navigation-items inline">
				
<ul class="items-container" id=""><li class="nav-title no-link">
	Topics:
</li><!--
--><li class="trigger inline-trigger crime" data-navigation-item-key="topics/crime">
	<a href="/tag/crime">		Crime	</a></li><!----><li class="trigger inline-trigger the+vice+guide+to+mental+health" data-navigation-item-key="topics/the+vice+guide+to+mental+health">
	<a href="/series/the-vice-guide-to-mental-health">		Mental Health	</a></li><!----><li class="trigger inline-trigger politics" data-navigation-item-key="topics/politics">
	<a href="/tag/politics">		Politics	</a></li><!----><li class="trigger inline-trigger opinion" data-navigation-item-key="topics/opinion">
	<a href="/tag/opinion">		Opinion	</a></li><!----><li class="trigger inline-trigger culture" data-navigation-item-key="topics/culture">
	<a href="/tag/culture">		Culture	</a></li><!----><li class="trigger inline-trigger lgbt" data-navigation-item-key="topics/lgbt">
	<a href="/tag/lgbt">		LGBT	</a></li>
</ul>
			</nav>
		</div>

		<div class="social-icons">
			<ul>
				<li class="google-plus">
					<a class="site-icon google-plus-logo" href="https://plus.google.com/+VICE" target="_blank"></a>
				</li><!--
				--><li class="facebook">
					<a class="site-icon facebook-logo" href="https://www.facebook.com/Vice" target="_blank"></a>
				</li><!--
				--><li>
					<a class="site-icon twitter-logo" href="https://twitter.com/vice" target="_blank"></a>
				</li><!--
				--><li class="tumblr">
					<a class="site-icon tumblr-logo" href="https://www.tumblr.com/follow/vicemag" target="_blank"></a>
				</li><!--
				--><li class="subscribe">
					<a class="site-icon email-envelope" href="http://link.vice.com/join/3nh/viceussignup" target="_blank"></a>
				</li><!--
				--><li class="rss">
					<a class="site-icon rss-logo" href="/rss"></a>
				</li><!--
				--><li class="youtube">
					<a class="site-icon youtube-play" href="https://www.youtube.com/user/vice" target="_blank"></a>
				</li>
			</ul>
		</div>

		<div class="search-container">
			<button class="site-icon search" type="button"></button>
			<button class="site-icon cancel" type="button"></button>

			<div class="searchbox-container">
				<div class="gcse-searchbox-only" data-resultsUrl="/search" data-queryParameterName="query"></div>
			</div>
		</div>

		<nav class="navigation-items more large-viewport">
							<ul class="items-container">
					<li class="trigger no-link" data-navigation-item-key="more/topics">
						<span class="small-viewport">
							Topics						</span>
						<span class="large-viewport">
							More						</span>
					</li>
				</ul>
					</nav>
	</div>

	<div class="site-header-drop-downs">
		<div class="navigation-groups-container">
			<div class="navigation-group inline-group watch" data-navigation-item-key="watch">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group sub-navigation-group" data-navigation-item-key="sections">
	<div class="sub-navigation-items-container">
		
<ul class="items-container" id=""><li data-sub-navigation-item-key="sections/news">
	<a href="/news">		News	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/music">
	<a href="/music">		Music	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/fashion">
	<a href="/fashion">		Fashion	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/travel">
	<a href="/travel">		Travel	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/sports">
	<a href="/sports">		Sports	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/tech">
	<a href="/tech">		Tech	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/food">
	<a href="/food">		Food	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/gaming">
	<a href="/gaming">		Gaming	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/nsfw">
	<a href="/nsfw">		Nsfw	</a></li><!-- -->
<li data-sub-navigation-item-key="sections/dos-and-donts">
	<a href="/dnd">		Dos & Don'ts	</a></li><!-- -->
</ul>
	</div>

	<div class="sub-navigation-items">
		
<div class="sub-navigation-group news" data-sub-navigation-item-key="sections/news">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group music" data-sub-navigation-item-key="sections/music">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group fashion" data-sub-navigation-item-key="sections/fashion">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group travel" data-sub-navigation-item-key="sections/travel">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group sports" data-sub-navigation-item-key="sections/sports">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group tech" data-sub-navigation-item-key="sections/tech">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group food" data-sub-navigation-item-key="sections/food">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group gaming" data-sub-navigation-item-key="sections/gaming">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group nsfw" data-sub-navigation-item-key="sections/nsfw">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group dos-and-donts" data-sub-navigation-item-key="sections/dos-and-donts">
	<div class="menu-items-container"></div>
</div>
	</div>
</div><div class="navigation-group inline-group photos" data-navigation-item-key="photos">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group crime" data-navigation-item-key="topics/crime">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group the+vice+guide+to+mental+health" data-navigation-item-key="topics/the+vice+guide+to+mental+health">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group politics" data-navigation-item-key="topics/politics">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group opinion" data-navigation-item-key="topics/opinion">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group culture" data-navigation-item-key="topics/culture">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group inline-group lgbt" data-navigation-item-key="topics/lgbt">
	<div class="menu-items-container inline-items-container"></div>
</div><div class="navigation-group sub-navigation-group" data-navigation-item-key="more/topics">
	<div class="sub-navigation-items-container">
		
<ul class="items-container" id=""><li data-sub-navigation-item-key="more/topics/crime">
	<a href="/tag/crime">		Crime	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/the+vice+guide+to+mental+health">
	<a href="/series/the-vice-guide-to-mental-health">		Mental Health	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/politics">
	<a href="/tag/politics">		Politics	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/opinion">
	<a href="/tag/opinion">		Opinion	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/culture">
	<a href="/tag/culture">		Culture	</a></li><!-- -->
<li data-sub-navigation-item-key="more/topics/lgbt">
	<a href="/tag/lgbt">		LGBT	</a></li><!-- -->
</ul>
	</div>

	<div class="sub-navigation-items">
		
<div class="sub-navigation-group crime" data-sub-navigation-item-key="more/topics/crime">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group the+vice+guide+to+mental+health" data-sub-navigation-item-key="more/topics/the+vice+guide+to+mental+health">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group politics" data-sub-navigation-item-key="more/topics/politics">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group opinion" data-sub-navigation-item-key="more/topics/opinion">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group culture" data-sub-navigation-item-key="more/topics/culture">
	<div class="menu-items-container"></div>
</div><div class="sub-navigation-group lgbt" data-sub-navigation-item-key="more/topics/lgbt">
	<div class="menu-items-container"></div>
</div>
	</div>
</div><script type="text/template" id="nav-item-template">
	<% if(thumb_html) { %>
		<div class="image-container">
			<a href="<%= url %>">
				<% if(is_link_out){ %>
					<div class="link-out-container <%= link_out_class %>">
						<div class="site-logo"></div>
					</div>
				<% } %>

				<%= thumb_html %>

				<% if(media_type_id == 1 && video_duration_visual != false){ %>
					<div class="video-duration">
						<p><%= video_duration_visual %></p>
					</div>
				<% } %>
			</a>
		</div>
	<% } %>

	<div class="title-wrapper">
		<h2 class="item-title">
			<a href="<%= url %>">
				<%= text %>
			</a>
		</h2>
	</div>
</script>		</div>

		<div class="social-buttons-wrapper">
			<div class="social-buttons-container">
				<ul>
					<li class="google-plus">
						 <div class="g-follow" data-height="20" data-annotation="bubble" data-href="https://plus.google.com/+VICE"></div>
					</li><!--
					--><li class="facebook">
						<div id="fb-root"></div>
						<div class="fb-like" data-href="https://www.facebook.com/Vice" data-width="200" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
					</li><!--
					--><li class="twitter">
						<a href="https://twitter.com/vice" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @vice</a>
					</li><!--
					--><li class="tumblr">
						<iframe class="btn" frameborder="0" border="0" scrolling="no" allowtransparency="true" height="25" width="114" src="//platform.tumblr.com/v1/follow_button.html?button_type=2&tumblelog=vice&color_scheme=dark"></iframe>
					</li><!--
					--><li class="subscribe">
						 <a href="http://link.vice.com/join/3nh/viceussignup" target="_blank">
						 <span class="site-icon email-envelope">Subscribe</a>
					</li><!--
					--><li class="youtube">
						<div class="g-ytsubscribe" data-channel="vice" data-layout="default" data-count="default"></div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</header>
		<div class="site-content">
			<div class="page-container videos-single-page-container " data-next-video-url="">
	<div class="video-wrapper">
		<div class="video-inner">
			<div class="video-container ooyala">
									<iframe src="https://embeds.vice.com/?playerId=YjMwNmI4YjU2MGM5ZWRjMzRmMjljMjc5&aid=vice.com/vice-meets&vid=9tNWk4dTpLfy-cabXRfKzMD1d9a0uSHQ&embedCode=9tNWk4dTpLfy-cabXRfKzMD1d9a0uSHQ&cust_params=embdom%3Dhttp%3A%2F%2Fwww.vice.com%2Fvideo%2Fvice-meets-anas-aremeyaw-anas%26topic%3Dfilm%26aid%3Dvice-meets-anas-aremeyaw-anas%26auth%3D%26keywords%3DAnas+Aremeyaw+Anas%2CVICE+Meets%2Cjournalism%2CChameleon%2CGhana%2CRyan+Mullins%26ac%3Dno%26country%3Den_us%26contentId%3D9tNWk4dTpLfy-cabXRfKzMD1d9a0uSHQ&ad_rule=1&description_url=http%3A%2F%2Fwww.vice.com%2Fvideo%2Fvice-meets-anas-aremeyaw-anas&autoplay=1&share_url=http://www.vice.com/video/vice-meets-anas-aremeyaw-anas" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>							</div>
		</div>
	</div>

	<div class="page-inner-content">
		<div class="page-inner-wrapped-content">
			<div class="content-container">
				<div class="content">
					<header class="content-header">
													<div class="series-container">
								<ul>
									<li>
										<a href="/videos">
											Series										</a>
									</li><!--
									--><li>
										<a href="/series/vice-meets">
											VICE Meets										</a>
									</li>
								</ul>
							</div>
						
						<h1>
							VICE Meets Anas Aremeyaw Anas						</h1>

											</header>

										<div class="rich-text ">
						<p class="summary">
							Anas Aremeyaw Anas is the controversial Ghanian investigative journalist who's broken dozens of stories of corruption and organized crime in West Africa. He's also the subject of a new documentary, Chameleon, by Ryan Mullins, which follows Anas through his extensive undercover investigations that include everything from disguises, button cam surveillance, and a prosthetic severed albino arm. In a ...						</p>

													<div class="show-content-toggler show-more">
								<p>Show More</p>
							</div>
						
						<div class="full-content">
							<p>Anas Aremeyaw Anas is the controversial Ghanian investigative journalist who's broken dozens of stories of corruption and organized crime in West Africa. He's also the subject of a new documentary, <em>Chameleon</em>, by Ryan Mullins, which follows Anas through his extensive undercover investigations that include everything from disguises, button cam surveillance, and a prosthetic severed albino arm. In a rare interview, VICE senior editor Raf Katigbak sits down with Anas to find out what drives his single-minded mission to bring justice to his country, the state of journalism in Africa, and how he responds to critics who question his methods.  </p><p>
<em>Chameleon</em> will have its US premiere at the <a href="http://www.brooklynfilmfestival.org/films/detail.asp?fid=1534" target="_blank">Brooklyn Film Festival</a> May 31.</p>						</div>

													<div class="show-content-toggler show-less">
								<p>Show Less</p>
							</div>
											</div>
				</div>

				<div class="sidebar">
					<section id="" class="collapsible-share-widget" data-title="VICE Meets Anas Aremeyaw Anas" data-tweet="VICE Meets Anas Aremeyaw Anas" data-url="http://www.vice.com/video/vice-meets-anas-aremeyaw-anas" data-media="http://www.vice.com/assets/images/vice/og/og-image.jpg" data-topic=""><ul class="visible-buttons">
	<li class="share no-icon">
		<div class="share-text">Share</div>
	</li><!--
	--><li class="comment no-icon sharing-item" data-share-type="comment">
		<div>Comment</div>
	</li><!--
	--><li class="toggle">
		<div class="site-icon plus"></div>
	</li><!--
	--><li class="sharing-item twitter" data-share-type="twitter">
		<div>
			<span class="site-icon twitter-logo"></span>
			<span class="share-action">Tweet </span>
			<span class="share-text">Share On Twitter</span>
		</div>
	</li><!--
	--><li class="sharing-item facebook" data-share-type="facebook">
		<div>
			<span class="site-icon facebook-logo"></span>
			<span class="share-action">Share </span>
			<span class="share-text">Share On Facebook</span>
		</div>
	</li>
</ul>
<ul class="extra-buttons">
	<li class="sharing-item email">
		<a href="mailto:?body=VICE Meets Anas Aremeyaw Anas http://www.vice.com/video/vice-meets-anas-aremeyaw-anas">
			<span class="site-icon email-envelope"></span>
			<span class="share-text">Email</span>
		</a>
	</li><!--
	--><li class="sharing-item reddit" data-share-type="reddit">
		<div>
			<span class="site-icon reddit-logo"></span>
			<span class="share-text">Reddit</span>
		</div>
	</li><!--
	--><li class="sharing-item pinterest" data-share-type="pinterest">
		<div>
			<span class="site-icon pinterest-logo"></span>
			<span class="share-text">Pinterest</span>
		</div>
	</li><!--
	--><li class="sharing-item tumblr" data-share-type="tumblr">
		<div>
			<span class="site-icon tumblr-logo"></span>
			<span class="share-text">Tumblr</span>
		</div>
	</li><!--
	--><li class="sharing-item google-plus" data-share-type="googleplus">
		<div>
			<span class="site-icon google-plus-logo"></span>
			<span class="share-text">Google +</span>
		</div>
	</li>
</ul>
</section>
					<section class="topics-widget topics-container" id=""><p class="topics">
	<span>Topics:</span> <a href="/tag/Anas+Aremeyaw+Anas">Anas Aremeyaw Anas</a>, <a href="/tag/VICE+Meets">VICE Meets</a>, <a href="/tag/journalism">journalism</a>, <a href="/tag/Chameleon">Chameleon</a>, <a href="/tag/Ghana">Ghana</a>, <a href="/tag/Ryan+Mullins">Ryan Mullins</a></p>
</section> <div class="vmp-ad ad-sidebar" data-ref="video_sidebar"></div>				</div>
			</div>

							<section class="list-widget latest-videos-widget series-episodes carousel" data-ids-not-in="156668" data-series-id="180">
					<header class="widget-header">
						<h2>More from this show</h2>

						<nav class="controls">
							<div class="control left-arrow"> Previous</div>

							<div class="control right-arrow">More</div>

							<div class="loading-container">
								<div class="loading-anim"></div>
							</div>
						</nav>
					</header>

					<div class="latest-videos-wrapper items-wrapper" data-total-videos="114">
						
<script type="text/template" id="carousel-list-item-template">
	<% if(thumb_html){ %>
		<div class="image-container">
			<a href="<%= url %>">
				<%= thumb_html %>
			</a>
		</div>
	<% } %>

	<div class="item-information">
		<a href="<%= url %>">
			<h2 class="item-title">
				<%= info.title %>
			</h2>
		</a>
	</div>
</script><section class="items-container" id=""><article class="item" data-model-id="153504">
			<div class="image-container">
			<a href="/video/talking-to-director-brett-morgen-about-his-cobain-documentary-montage-of-heck-140">
				<img src="//vice-images.vice.com/images/articles/crops/2015/05/04/talking-to-director-brett-morgen-about-his-cobain-documentary-montage-of-heck-140-1430769721-crop_mobile_400.jpg" alt="Talking to Director Brett Morgen About His Kurt Cobain Documentary, &#039;Montage of Heck&#039;" />			</a>
		</div>
	
	<div class="item-information">
		<a href="/video/talking-to-director-brett-morgen-about-his-cobain-documentary-montage-of-heck-140">
			<h2 class="item-title">
				Talking to Director Brett Morgen About His Kurt Cobain Documentary, 'Montage of Heck'			</h2>
		</a>
	</div>
</article><!-- --><article class="item" data-model-id="148054">
			<div class="image-container">
			<a href="/video/talking-to-marty-rathbun-former-senior-executive-of-the-church-of-scientology-665">
				<img src="//vice-images.vice.com/images/articles/crops/2015/03/27/talking-to-marty-rathbun-former-senior-executive-of-the-church-of-scientology-665-1427474738-crop_mobile_400.jpg" alt="Talking to Marty Rathbun, Former Senior Executive of the Church of Scientology" />			</a>
		</div>
	
	<div class="item-information">
		<a href="/video/talking-to-marty-rathbun-former-senior-executive-of-the-church-of-scientology-665">
			<h2 class="item-title">
				Talking to Marty Rathbun, Former Senior Executive of the Church of Scientology			</h2>
		</a>
	</div>
</article><!-- --><article class="item" data-model-id="147774">
			<div class="image-container">
			<a href="/video/vice-meets-nick-cave">
				<img src="//vice-images.vice.com/images/articles/crops/2015/03/26/vice-meets-nick-cave-1427374474-crop_mobile_400.jpg" alt="VICE Meets: Nick Cave" />			</a>
		</div>
	
	<div class="item-information">
		<a href="/video/vice-meets-nick-cave">
			<h2 class="item-title">
				VICE Meets: Nick Cave			</h2>
		</a>
	</div>
</article><!-- --><article class="item" data-model-id="145282">
			<div class="image-container">
			<a href="/video/talking-to-the-creator-of-house-of-cards-beau-willimon-001">
				<img src="//vice-images.vice.com/images/articles/crops/2015/03/10/talking-to-the-creator-of-house-of-cards-beau-willimon-001-1426002622-crop_mobile_400.png" alt="Talking to the Creator of &#039;House of Cards,&#039; Beau Willimon" />			</a>
		</div>
	
	<div class="item-information">
		<a href="/video/talking-to-the-creator-of-house-of-cards-beau-willimon-001">
			<h2 class="item-title">
				Talking to the Creator of 'House of Cards,' Beau Willimon			</h2>
		</a>
	</div>
</article><!-- --><article class="item" data-model-id="138897">
			<div class="image-container">
			<a href="/video/vice-meets-ulrich-seidl-192">
				<img src="//vice-images.vice.com/images/articles/crops/2015/03/06/vice-meets-ulrich-seidl-192-1425657748-crop_mobile_400.jpg" alt="VICE Meets Ulrich Seidl" />			</a>
		</div>
	
	<div class="item-information">
		<a href="/video/vice-meets-ulrich-seidl-192">
			<h2 class="item-title">
				VICE Meets Ulrich Seidl			</h2>
		</a>
	</div>
</article><!-- --><article class="item" data-model-id="143151">
			<div class="image-container">
			<a href="/video/talking-to-british-politician-and-humanitarian-david-miliband-915">
				<img src="//vice-images.vice.com/images/articles/crops/2015/02/23/talking-to-british-politician-and-humanitarian-david-miliband-915-1424730398-crop_mobile_400.jpg" alt="VICE Meets British Politician and Humanitarian David Miliband" />			</a>
		</div>
	
	<div class="item-information">
		<a href="/video/talking-to-british-politician-and-humanitarian-david-miliband-915">
			<h2 class="item-title">
				VICE Meets British Politician and Humanitarian David Miliband			</h2>
		</a>
	</div>
</article><!-- --></section>
					</div>
				</section>
			
							<div class="video-ad-container">
					<div class="vmp-ad ad-banner" data-ref="banner"></div>				</div>
			
							<section id="comments" class="comments-wrapper">
					<div class="comments-inner">
						<header class="widget-header">
							<h2>Comments</h2>
						</header>

						<section class="comment-widget" id=""><div class="fb-comments" data-href="http://www.vice.com/video/vice-meets-anas-aremeyaw-anas" data-num-posts="5" data-width="100%"></div></section>					</div>
				</section>
					</div>
	</div>
</div>
		</div>

		<footer class="site-footer">
	<ul>
		<li>&copy;2015 VICE Media LLC </li>
	</ul>
</footer>	</section>

	<script type="text/javascript">
/*<![CDATA[*/
window.vmp_ad_config = {
 ad_slots : {},
 ad_targetting_sizes : {},
 config : {
  adunit : "vice.com/vice-meets",
  targeting : {
   topic : "film",
   aid : "vice-meets-anas-aremeyaw-anas",
   atype : "video",
   AC : "no",
   auth : "",
   keywords : "anas-aremeyaw-anas,vice-meets,journalism,chameleon",
   country : "en_us"
  }
 }
};
/*]]>*/
</script><script type="text/javascript">
/*<![CDATA[*/
//Sailthru Horizon
(function(){function loadHorizon(){var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = location.protocol + '//ak.sail-horizon.com/horizon/v1.js';var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);}loadHorizon();var oldOnLoad = window.onload;window.onload = function(){if(typeof oldOnLoad === 'function'){oldOnLoad();}
Sailthru.setup({domain: 'horizon.vice.com'
});
};
})();
var SYSTEM_PREFIX = 'vmp', SITE_PREFIX = 'vice', SITE_LOCALE ='en_us';
//Socials
var SITE_SOCIALS = {'social_google_plus' : 'https://plus.google.com/+VICE',
'social_facebook' : 'Vice',
'social_tumblr' : 'https://www.tumblr.com/follow/vicemag',
'social_youtube' : 'vice',
'social_twitter' : 'vice',
'social_instagram' : 'vice'};

//Total analytics accounts
var TOTAL_ANALYTICS_ACCOUNTS = 2;

//Begin Chartbeat Code
var _sf_async_config={};
//CONFIGURATION START
_sf_async_config['uid'] = 8233;
_sf_async_config['domain'] = 'vice.com';
_sf_async_config['videoType'] = 'ooyala';
_sf_async_config['sections'] = 'en_us, film';
_sf_async_config['authors'] = 'VICE Meets';
_sf_async_config['type'] = 'video';

//CONFIGURATION END
(function(){
function loadChartbeat(){
window._sf_endpt=(new Date()).getTime();
var e = document.createElement('script');
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src', (('https:' == document.location.protocol) ? 'https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/' : 'http://static.chartbeat.com/') + 'js/chartbeat_pub.js');
document.body.appendChild(e);
e = document.createElement('script'); 
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src', '//static.chartbeat.com/js/chartbeat_video.js');
document.body.appendChild(e);
}
var oldonload = window.onload;
window.onload = (typeof window.onload != 'function') ? loadChartbeat : function(){ oldonload(); loadChartbeat(); };
})();

</script><!-- BEGIN iOS app smart banner -->
<meta name="apple-itunes-app" content="app-id=591496838">
<!-- END iOS app smart banner -->

<!-- BEGIN Krux Control Tag for "Vice.com" -->

<!-- Source: /snippet/controltag?confid=JLmLD3_1&site=VICE.com&edit=1 -->
<script class="kxct" data-id="JLmLD3_1" data-timing="async" data-version="1.9" type="text/javascript">
  window.Krux||((Krux=function(){Krux.q.push(arguments)}).q=[]);
  (function(){
    var k=document.createElement('script');k.type='text/javascript';k.async=true;
    var m,src=(m=location.href.match(/\bkxsrc=([^&]+)/))&&decodeURIComponent(m[1]);
    k.src = /^https?:\/\/([a-z0-9_\-\.]+\.)?krxd\.net(:\d{1,5})?\//i.test(src) ? src : src === "disable" ? "" :
      (location.protocol==="https:"?"https:":"http:")+"//cdn.krxd.net/controltag?confid=JLmLD3_1"
  ;
    var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(k,s);
  }());
  
</script>
  
</script>
<script>
	window.Krux||((Krux=function(){Krux.q.push(arguments);}).q=[]);
	(function(){
	 function retrieve(n){
	var m, k='kx'+n;
	if(window.localStorage){
	   return window.localStorage[k] || "";
	}else if(navigator.cookieEnabled){
	   m = document.cookie.match(k+'=([^;]*)');
	   return (m && unescape(m[1])) || "";
	}else{
	   return '';
	}
	}
	 Krux.user = retrieve('user');
	 Krux.segments = retrieve('segs') && retrieve('segs').split(',') || [];
	})();
</script>
<!-- END Krux Controltag -->

<!-- Start Comscore -->
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	<script>
		var _comscore = _comscore || [];
		_comscore.push({ c1: "2", c2: "8568956" });
		(function() {
		var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
		s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
				el.parentNode.insertBefore(s, el);
		})();
	</script>
	<noscript>
		<img src="http://b.scorecardresearch.com/p?c1=2&c2=8568956&cv=2.0&cj=1" />
	</noscript>
<!-- End Comscore -->

<!-- Start Alexa Certify Javascript -->
	<script type="text/javascript">
	_atrk_opts = { atrk_acct:"x5HVh1aUXR00Gi", domain:"vice.com",dynamic: true};
	(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
	</script>
	<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=x5HVh1aUXR00Gi" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->

<!-- Start Compete XL -->
	<script type="text/javascript">
	    __compete_code = 'c79a03b00361f17867f62f423817279a';
	    /* Set control variables below this line. */
	</script>
	<script type="text/javascript" src="//c.compete.com/bootstrap/s/c79a03b00361f17867f62f423817279a/vice-com/bootstrap.js"></script>
	<noscript>
	   <img width="1" height="1" src="https://ssl-vice-com-c79a03.c-col.com"/>
	</noscript>
<!-- End Compete XL -->

<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5FBQQG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5FBQQG');</script>
<!-- End Google Tag Manager -->

<!--Crazy Egg-->
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0013/1363.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script> 
<!--End Crazy Egg-->

<!-- START Nielsen Online SiteCensus V6.0 -->
<!-- COPYRIGHT 2012 Nielsen Online -->
<script type="text/javascript" src="//secure-au.imrworldwide.com/v60.js">
</script>
<script type="text/javascript">
 var pvar = { cid: "au-vice", content: "0", server: "secure-au" };
 var trac = nol_t(pvar);
 trac.record().post();
</script>
<noscript>
 <div>
 <img src="//secure-au.imrworldwide.com/cgi-bin/m?ci=au-vice&cg=0&cc=1&ts=noscript"
 width="1" height="1" alt="" />
 </div>
</noscript>
<!-- END Nielsen Online SiteCensus V6.0 --><script>
//Google Custom Serch Engine
(function(){var cx = '012535507476705294612:8pcfhmf5dsu';
var gcse = document.createElement('script');
gcse.type = 'text/javascript';
gcse.async = true;
gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(gcse, s);
})();
//Available locales
var AVAILABLE_LOCALES = [
{"link":"\/en_au","label":"Australia \/ NZ"},
{"link":"\/be","label":"Belgium"},
{"link":"\/pt_br","label":"Brasil"},
{"link":"\/en_ca","label":"Canada"},
{"link":"\/cs","label":"\u010cesko\/Slovensko"},
{"link":"http:\/\/www.vice.cn","label":"\u4e2d\u56fd"},
{"link":"\/es_co","label":"Colombia"},
{"link":"\/en_dk","label":"Denmark"},
{"link":"\/de","label":"Deutschland"},
{"link":"\/es","label":"Espa\u00f1a"},
{"link":"\/fr","label":"France"},
{"link":"\/gr","label":"Greece"},
{"link":"\/it","label":"Italia"},
{"link":"http:\/\/jp.vice.com","label":"Japan"},
{"link":"\/es_mx","label":"M\u00e9xico"},
{"link":"\/nl","label":"Nederland"},
{"link":"\/en_se","label":"Sweden"},
{"link":"\/alps","label":"\u00d6sterreich\/Schweiz"},
{"link":"\/pl","label":"Polska"},
{"link":"\/pt","label":"Portugal"},
{"link":"\/ro","label":"Romania"},
{"link":"\/ru","label":"\u0420\u043e\u0441\u0441\u0438\u044f"},
{"link":"\/rs","label":"Srbija"},
{"link":"\/en_uk","label":"United Kingdom"},
{"link":"\/en_us","label":"United States"}
];
var CURRENT_LOCALE = 'en_us';
var CURRENT_LANGUAGE = 'en';

/*]]>*/
</script>
<script type="text/javascript" src="/assets/js/vmp/lib/require.min.js?v20150518195921" id="vmp-require-js" data-main="/assets/js/vmp/system/require.config.js?v20150518195921" data-config-extension="/assets/js/vice/configs/vice.config.js?v20150518195921" data-main-script="/assets/js/vice/videos/single.js" data-asset-version="v20150518195921"></script>
</body>
</html>