/* Universal */
.article .module-type{
	color: #666666;
	font-family: arial,helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}
/* Most Popular */
#parselyArticles .module .moduleBody ul li {
    border-top: medium none;
    line-height: 16px;
    padding: 10px 0 0;
}
#parselyArticles .module .moduleBody ul li:first-child{
	padding: 0;
}
#parselyArticles .module .moduleBody .parselyTitle {
    float: left;
    padding-right: 5px;
    width: 256px;
}
#parselyArticles .module .moduleBody .parselyTitle a {
    color: #006e97;
    font-family: helvetica,arial,sans-serif;
    line-height: 1.3em;
    font-size: 1.2em;
    font-weight: bold;

}
#parselyArticles .parselyRank {
    color: #999;
    float: right;
    font-family: helvetica,arial,sans-serif;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.1em;
    width: 19px;
}
#parselyArticles .rankBackground {
    background-color: #d9d9d9;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
}
#parselyArticles .rankProgress {
    border-radius: 2px;
    height: 4px;
}
#parselyArticlesRemark {
	color: #666;
    font-family: helvetica,arial,sans-serif;
    font-size: 1.1em;
    font-style: italic;
    padding: 5px 0;
    text-align: right;
    width: 100%;
}

/* Slideshow */
.slider-module .module-slide-media{
	background: #e7e7e7;
	display: inline-block;
    height: 429px;
    overflow: hidden;
    position: relative;
    width: 644px;
}
.slider-module .module-slide-media img{
	bottom: 0;
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}
.slider-module .module-meta{
	border-bottom: 1px solid #ccc;
	margin: 8px 0 22px 0;
	padding: 0 0 8px;
}
.slider-module .module-slide-txt,
.slider-module .module-slide-nav{
	color: #666666;
	font-family: helvetica,arial,sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
}
.slider-module .module-slide-credit{
	font-size: .85em;
	text-transform: uppercase;
	color: #999;
}
.slider-module .module-slide-txt{
	height: 70px;
	visibility: hidden;
	float: left;
	width: 540px;
}
.slider-module .slick-active .module-slide-txt{
	cursor: text;
	visibility: visible;
	-moz-user-select: all;
	-webkit-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
.slider-module .module-slide-num{
	color: #999;
	font-family: arial,helvetica,sans-serif;
	font-size: 1.2em;
}
.slider-module .module-slide-nav{
	display: inline-block;
	float: left;
	margin-left: 18px;
	text-align: right;
	width: 85px;
}
.slider-left,
.slider-right{
	background: url("http://s2.reutersmedia.net/resources_v2/images/rcom-sprite.png") no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 14px;
	width: 14px;
	text-align: initial;
	text-indent: -999em;
}
.slider-left{
	background-position: -120px -976px;
	margin-right: 6px;
}
.slider-left:hover{
	background-position: -174px -976px;
}
.slider-right{
	background-position: -88px -1018px;
	margin-left: 6px;
}
.slider-right:hover{
	background-position: -142px -1018px;
}

/* BankRate */
.module ul.br-tabs{
	background: none;
	padding: 0;
}
.module ul.br-tabs li{
	margin: 0 4px -2px 0;
	padding: 5px 3px;
}
